<div id="popup">
  <div class="vview">
    <button title="Close (Esc)" type="button" class="mfp-close">×</button>
    <div class="entry clearfix">
      <div class="entry-title">
        <h2><%= postTitle %></h2>
      </div>
      <div class="vview-info clearfix">
        <ul class="entry-meta">
          <li><%= moment(createdAt).fromNow() %></li>
          <li>
              <%= postType %>
            <!-- <a href="#">인테리어</a>, <a href="#">휴양지</a> -->
          </li>
          <li><i class="icon-heart3"></i> <%= LikeUsers.length %></li>
          <li><i class="icon-comments"></i> <%= commentCount %></li>
        </ul>
        <div class="si-share noborder">
          <a href="#" class="social-icon si-colored si-small si-facebook">
            <i class="icon-facebook"></i>
            <i class="icon-facebook"></i>
          </a>
          <a href="#" class="social-icon si-colored si-small si-kakao">
            <i class="icon-kakao"></i>
            <i class="icon-kakao"></i>
          </a>
          <a href="#" class="social-icon si-colored si-small si-line">
            <i class="icon-line"></i>
            <i class="icon-line"></i>
          </a>
          <a href="#" class="social-icon si-colored si-small si-band">
            <i class="icon-band"></i>
            <i class="icon-band"></i>
          </a>
          <a href="#" class="social-icon si-colored si-small si-twitter">
            <i class="icon-twitter"></i>
            <i class="icon-twitter"></i>
          </a>
          <a href="#copy" class="social-icon si-colored si-small si-copy copy-link">
            <i class="icon-copy"></i>
            <i class="icon-copy"></i>
          </a>
          <div id="copy" class="white-popup mfp-hide mfp-copy">
            <h4>공유하기</h4>
            <div class="col_full clearfix">
              <label>URL</label>
              <input id="copy-url" class="sm-form-control" type="text" readonly="readonly" value="http://localhost:3000/post/<%= postID %>">
              <button class="button button-small" data-clipboard-target="#copy-url">복사</button>
            </div>
            <div class="col_full clearfix">
              <label>EMBED TAG</label>
              <input id="copy-embed" class="sm-form-control" type="text" readonly="readonly" value='<embed src="http://localhost:3000/post/embed/<%= postID %>" width="100%" height="500"></embed>'>
              <button class="button button-small" data-clipboard-target="#copy-embed">
                복사
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="vview-content">
        <div class="vr-image">
          <ul class="nav nav-tabs boot-tabs">
            <li class="active"><a href="#vr-image1" data-toggle="tab">VR</a></li>
            <li><a href="#vr-image2" data-toggle="tab">이미지</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade in active" id="vr-image1">
              <div id="pano" style="width:100%;height:600px;">
              </div>
            </div>
            <div class="tab-pane fade" id="vr-image2">
              <div class="fslider flex-thumb-grid grid-6 bottommargin-sm" data-arrows="false" data-animation="fade" data-thumbs="true">
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide" data-thumb="/lib/js-canvas/images/wedding/thumb/11.jpg"><a href="/lib/js-canvas/images/wedding/11.jpg"><img src="/lib/js-canvas/images/wedding/11.jpg" alt="Image"></a></div>
                    <div class="slide" data-thumb="/lib/js-canvas/images/wedding/thumb/15.jpg"><a href="/lib/js-canvas/images/wedding/15.jpg"><img src="/lib/js-canvas/images/wedding/15.jpg" alt="Image"></a></div>
                    <div class="slide" data-thumb="/lib/js-canvas/images/wedding/thumb/21.jpg"><a href="/lib/js-canvas/images/wedding/21.jpg"><img src="/lib/js-canvas/images/wedding/21.jpg" alt="Image"></a></div>
                    <div class="slide" data-thumb="/lib/js-canvas/images/wedding/thumb/23.jpg"><a href="/lib/js-canvas/images/wedding/23.jpg"><img src="/lib/js-canvas/images/wedding/23.jpg" alt="Image"></a></div>
                    <div class="slide" data-thumb="/lib/js-canvas/images/wedding/thumb/26.jpg"><a href="/lib/js-canvas/images/wedding/26.jpg"><img src="/lib/js-canvas/images/wedding/26.jpg" alt="Image"></a></div>
                    <div class="slide" data-thumb="/lib/js-canvas/images/wedding/thumb/27.jpg"><a href="/lib/js-canvas/images/wedding/27.jpg"><img src="/lib/js-canvas/images/wedding/27.jpg" alt="Image"></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="map clearfix">
          <div class="col_half">
            <div id="daum-map" class="daum-map"></div>
          </div>
          <div class="col_half col_last">
            <div id="daum-roadview" class="daum-roadview"></div>
          </div>
        </div>
        <div class="entry-content">
          <%- content %>
        </div>
      </div>
    </div>

    <% if (myPost) { %>
      <div class="vview-button">
        <a id="modifyPost" href="#" class="button button-small">수정</a>
        <a id="updatePost" href="#" class="button button-small">재등록</a>
        <a id="deletePost" href="#" class="button button-small button-red">삭제</a>
      </div>
    <% } %>

    <div class="vview-author-info panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Posted by <span><a href="/user/5"><img src="http://localhost:3001/users/sinho0689@gmail.com/zrss85pYUt5u08Au0SxBy6TdTzTmbWQT.png" alt="Avatar"> 모랩</a></span></h3>
      </div>
      <div class="panel-body">
        <div class="author-content">
          <%= user.about %>
        </div>
        <div class="si-share noborder">
          <% if (sns.website) { %>
            <a href="<%= sns.website %>" class="social-icon si-colored si-small si-website">
              <i class="icon-website"></i>
              <i class="icon-website"></i>
            </a>
          <% } %>
          <% if (sns.facebook) { %>
            <a href="<%= sns.facebook %>" class="social-icon si-colored si-small si-facebook">
              <i class="icon-facebook"></i>
              <i class="icon-facebook"></i>
            </a>
          <% } %>
          <% if (sns.instagram) { %>
            <a href="<%= sns.instagram %>" class="social-icon si-colored si-small si-instagram">
              <i class="icon-instagram"></i>
              <i class="icon-instagram"></i>
            </a>
          <% } %>
          <% if (sns.blog) { %>
            <a href="<%= sns.blog %>" class="social-icon si-colored si-small si-blog">
              <i class="icon-blog"></i>
              <i class="icon-blog"></i>
            </a>
          <% } %>
          <% if (sns.twitter) { %>
            <a href="<%= sns.twitter %>" class="social-icon si-colored si-small si-twitter">
              <i class="icon-twitter"></i>
              <i class="icon-twitter"></i>
            </a>
          <% } %>
        </div>
      </div>
    </div>

    <div id="comments" class="clearfix">
      <h4 id="comments-title"><span><%= commentCount %></span>개의 댓글</h4>

      <form class="clearfix" action="#" method="post" id="commentform">
        <div class="col_full">
          <textarea name="comment" cols="58" rows="7" tabindex="4" class="sm-form-control"></textarea>
        </div>
        <div class="col_full nobottommargin center">
          <button name="submit" type="submit" id="submit-button" class="button button-small">등록</button>
        </div>
      </form>

      <div class="clist">
        <ol class="commentlist clearfix">
          <% for (i in comments) { %>
            <li class="comment">
              <div class="comment-wrap clearfix">
                <div class="comment-meta">
                  <div class="comment-author vcard">
                    <span class="comment-avatar clearfix"><img alt="" src="<%= comments[i].user.profile_image_path %>" class="avatar avatar-60 photo avatar-default" height="60" width="60" /></span>
                  </div>
                </div>
                <div class="comment-content clearfix">
                  <div class="comment-author"><a href="/user/<%= comments[i].user.ID %>"><%= comments[i].user.nickname %></a><span><%= moment(comments[i].createdAt).fromNow() %></span></div>
                  <p><%= comments[i].content %></p>
                  <% if (false) { %>
                    <div class="comment-reply-link">
                      <a class="button button-small button-red" href="#">삭제</a>
                    </div>
                  <% } %>
                </div>
                <div class="clear"></div>
              </div>
            </li>
          <% } %>
        </ol>
        <!-- <div class="clist-more">
          <a href="#" class="btn btn-default btn-block">
            <i class="icon-line-plus"></i>
            더보기
          </a>
        </div> -->
      </div>
    </div>

    <div class="line"></div>

    <!-- <div class="vlist">
      <h4>관련 게시물</h4>

      <div id="vlist-ajax" class="vlist-content portfolio grid-container portfolio-3 portfolio-masonry clearfix">

        <article class="portfolio-item NORMAL REAL_ESTATE RESTAURANT INTERIOR AERIAL ETC">
          <div class="portfolio-image">
            <a href="view.html">
              <img src="/lib/js-canvas/images/portfolio/masonry/3/1.jpg" alt="Open Imagination">
            </a>
          </div>
          <div class="portfolio-desc">
            <span class="author"><a href="/user/5"><img src="http://localhost:3001/users/sinho0689@gmail.com/zrss85pYUt5u08Au0SxBy6TdTzTmbWQT.png" alt="Avatar"> 모랩</a></span>
            <h3><a href="view.html">전북 전주시 덕진구 백제대로 1 - ajax_view</a></h3>
            <span class="info clearfix">
              <span class="date">2017-09-12</span>
              <span class="heart"><i class="icon-heart3"></i> 0</span>
              <span class="comment"><i class="icon-comments"></i> 10</span>
            </span>
          </div>
        </article>

        <article class="portfolio-item TRAVEL ACCOMMODATION VACATION_SPOT INTERIOR AERIAL">
          <div class="portfolio-image">
            <div class="fslider" data-arrows="false" data-speed="400" data-pause="4000">
              <div class="flexslider">
                <div class="slider-wrap">
                  <div class="slide"><a href="view.html"><img src="/lib/js-canvas/images/portfolio/masonry/3/6.jpg" alt="Morning Dew"></a></div>
                  <div class="slide"><a href="view.html"><img src="/lib/js-canvas/images/portfolio/masonry/3/6-1.jpg" alt="Morning Dew"></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="portfolio-desc">
            <span class="author"><a href="/user/5"><img src="http://localhost:3001/users/sinho0689@gmail.com/zrss85pYUt5u08Au0SxBy6TdTzTmbWQT.png" alt="Avatar"> 모랩</a></span>
            <h3><a href="view.html">전북 전주시 덕진구 백제대로 2 - ajax_view</a></h3>
            <span class="info clearfix">
              <span class="date">2017-09-12</span>
              <span class="heart"><i class="icon-heart3"></i> 0</span>
              <span class="comment"><i class="icon-comments"></i> 10</span>
            </span>
          </div>
        </article>

        <article class="portfolio-item ACCOMMODATION VACATION_SPOT INTERIOR ETC">
          <div class="portfolio-image">
            <a href="view.html">
              <img src="/lib/js-canvas/images/portfolio/masonry/3/7.jpg" alt="Open Imagination">
            </a>
          </div>
          <div class="portfolio-desc">
            <span class="author"><a href="/user/5"><img src="http://localhost:3001/users/sinho0689@gmail.com/zrss85pYUt5u08Au0SxBy6TdTzTmbWQT.png" alt="Avatar"> 모랩</a></span>
            <h3><a href="view.html">전북 전주시 덕진구 백제대로 3 - ajax_view</a></h3>
            <span class="info clearfix">
              <span class="date">2017-09-12</span>
              <span class="heart"><i class="icon-heart3"></i> 0</span>
              <span class="comment"><i class="icon-comments"></i> 10</span>
            </span>
          </div>
        </article>

         <article class="portfolio-item TRAVEL REAL_ESTATE ACCOMMODATION INTERIOR AERIAL">
          <div class="portfolio-image">
            <a href="view.html">
              <img src="/lib/js-canvas/images/portfolio/masonry/3/1.jpg" alt="Open Imagination">
            </a>
          </div>
          <div class="portfolio-desc">
            <span class="author"><a href="/user/5"><img src="http://localhost:3001/users/sinho0689@gmail.com/zrss85pYUt5u08Au0SxBy6TdTzTmbWQT.png" alt="Avatar"> 모랩</a></span>
            <h3><a href="view.html">전북 전주시 덕진구 백제대로 4 - ajax_view</a></h3>
            <span class="info clearfix">
              <span class="date">2017-09-12</span>
              <span class="heart"><i class="icon-heart3"></i> 0</span>
              <span class="comment"><i class="icon-comments"></i> 10</span>
            </span>
          </div>
        </article>

        <article class="portfolio-item TRAVEL RESTAURANT AERIAL ETC">
          <div class="portfolio-image">
            <div class="fslider" data-arrows="false" data-speed="400" data-pause="4000">
              <div class="flexslider">
                <div class="slider-wrap">
                  <div class="slide"><a href="view.html"><img src="/lib/js-canvas/images/portfolio/masonry/3/6-2.jpg" alt="Morning Dew"></a></div>
                  <div class="slide"><a href="view.html"><img src="/lib/js-canvas/images/portfolio/masonry/3/6-3.jpg" alt="Morning Dew"></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="portfolio-desc">
            <span class="author"><a href="/user/5"><img src="http://localhost:3001/users/sinho0689@gmail.com/zrss85pYUt5u08Au0SxBy6TdTzTmbWQT.png" alt="Avatar"> 모랩</a></span>
            <h3><a href="view.html">전북 전주시 덕진구 백제대로 5 - ajax_view</a></h3>
            <span class="info clearfix">
              <span class="date">2017-09-12</span>
              <span class="heart"><i class="icon-heart3"></i> 0</span>
              <span class="comment"><i class="icon-comments"></i> 10</span>
            </span>
          </div>
        </article>

      </div>

      <div id="load-next-vlist-ajax" class="vlist-more center">
        <a href="ajax_view_list.html?v=2" class="btn btn-default btn-block">
          <i class="icon-line-plus"></i>
          더보기
        </a>
      </div>
    </div> -->
  </div>
<!-- Page -->

<script>
  jQuery(function ($) {
    $('#deletePost').click(function () {
      $.ajax({
        type: 'DELETE',
        url: '/post/delete/<%= postID %>',
        success: function (data) {
          if (data == "OK") {
            alert("삭제되었습니다.");
            location.reload();
          }
        },
        error: function (error) {
          alert(error.responseJSON.errorMsg);
        }
      });
    });

    $('#modifyPost').click(function () {
      location.href = '/post/modify/<%= postID %>';
    });

    $('#updatePost').click(function () {
      $.ajax({
        type: 'PUT',
        url: '/post/re-enroll/<%= postID %>',
        success: function (data) {
          if (data == "OK") {
            alert("재등록 하였습니다.");
            location.reload();
          } else if (data == "other") {
            alert("다른 회원의 게시글 입니다.");
          }

          else {
            alert(data);
          }
        },
        error: function (error) {
          alert(error);
        }
      });
    });
  });
</script>

<script>
  jQuery(function($) {
    $('#commentform button').click(function() {
      const comment = $('#commentform textarea').val();
      $.ajax({
        method: 'POST',
        url: '/post/comment/new/<%= postID %>',
        data: {
          comment: comment,
        },
        success: function(result) {

          $('#commentform textarea').val('');

          var $commentlist = $('.commentlist');
          
          $commentlist.prepend(new EJS({url: '/template/post/comment.ejs'}).render({ comment: comment, user: result.user, createdAt: result.createdAt }));
        }
      });

      return false;
    });
  });
</script>

<script src="/lib/krpano-1.19-pr6-viewer/krpano-tour.js"></script>

<script>
  // URL 공유
  $('a.copy-link').magnificPopup({
    type: 'inline',
    closeBtnInside: true,
    preloader: false
  });

  // 이미지 컨텐츠 lightbox
  SEMICOLON.widget.loadFlexSlider();
  $('.vr-image .slider-wrap').magnificPopup({
    delegate: 'a',
    type: 'image',
    mainClass: 'mfp-img-mobile',
    gallery: {
      enabled: true,
      navigateByImgClick: true,
      preload: [0,1] // Will preload 0 - before current, and 1 after the current image
    }
  });
  

  // 댓글 더보기
  $('#popup .clist-more a').on('click', function(e) {
    var $html = '<li class="comment"><div class="comment-wrap clearfix"><div class="comment-meta"><div class="comment-author vcard"><span class="comment-avatar clearfix"><img alt="" src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60" class="avatar avatar-60 photo avatar-default" height="60" width="60" /></span></div></div><div class="comment-content clearfix"><div class="comment-author">모랩<span>2017-09-18</span></div><p>댓글입니다.</p></div><div class="clear"></div></div></li>';

    $('#popup .clist').append('<div class="loading"><div><i class="icon-line-loader icon-spin"></i></div></div>');
    window.setTimeout(function() {
      $('#popup .commentlist').append($html);
      $('#popup .clist .loading').remove();
    }, 500);

    e.preventDefault();
  });

  // Masonry
  (function() {
    var $container = $('#vlist-ajax');
    $container.isotope();
    $container.infinitescroll({
      loading: {
        finishedMsg: '<i class="icon-line-check"></i>',
        msgText: '<i class="icon-line-loader icon-spin"></i>',
        img: "/lib/js-canvas/images/preloader-dark.gif",
        speed: 'normal'
      },
      state: {
        isDone: false
      },
      nextSelector: "#load-next-vlist-ajax a",
      navSelector: "#load-next-vlist-ajax",
      itemSelector: "article.portfolio-item",
      behavior: 'portfolioinfiniteitemsloader'
    },
    function( newElements ) {
      $container.isotope( 'appended', $( newElements ) );
      var t = setTimeout( function(){ $container.isotope('layout'); }, 2000 );
      SEMICOLON.widget.loadFlexSlider();
      SEMICOLON.portfolio.arrange();
    });
  })();

  
  <% if (vtour.length != 0) { %>
    const VRImages = {
      baseDir: "<%= vtour[0].file_path %>",
      xmlName: "<%= vtour[0].file_name %>"
    };
    
    embedpano({
      swf: "/lib/krpano-1.19-pr6-viewer/krpano-tour.swf",
      xml: ['<%= mediaUrl %>', VRImages.baseDir, VRImages.xmlName].join('/'),
      target: "pano", html5: "auto", mobilescale: 1.0, passQueryParameters: true
    });
  <% } %>


  // 다음 맵
  var container = document.getElementById('daum-map');
  var options = {
    center: new daum.maps.LatLng(<%= lat %>, <%= lng %>),
    draggable: false,
    level: 3
  };
  var map = new daum.maps.Map(container, options);
  var markerPosition = new daum.maps.LatLng(<%= lat %>, <%= lng %>);
  var marker = new daum.maps.Marker({
    position: markerPosition
  });
  marker.setMap(map);
  var iwContent = 
    '<div style="padding:5px;">\
      <%= postTitle %><br>\
      <a href="http://map.daum.net/link/map/<%= postTitle %>,<%= lat %>, <%= lng %>" style="color:blue" target="_blank">큰지도보기</a>\
      <a href="http://map.daum.net/link/to/<%= postTitle %>,<%= lat %>, <%= lng %>" style="color:blue" target="_blank">길찾기</a>\
    </div>',
    iwPosition = new daum.maps.LatLng(<%= lat %>, <%= lng %>);
  var infowindow = new daum.maps.InfoWindow({
    position: iwPosition,
    content: iwContent
  });
  infowindow.open(map, marker);

  // 다음 로드뷰
  var roadviewContainer = document.getElementById('daum-roadview');
  var roadview = new daum.maps.Roadview(roadviewContainer);
  var roadviewClient = new daum.maps.RoadviewClient();
  var position = new daum.maps.LatLng(<%= lat %>, <%= lng %>);
  roadviewClient.getNearestPanoId(position, 50, function (panoId) {
    roadview.setPanoId(panoId, position);
  });
</script>
  <!--// Page -->
</div>
