<!DOCTYPE html>
<html lang="ko">
<head>
  <% include ../static/head.ejs %>
</head>
<body id="sub" class="stretched no-transition no-smooth-scroll">

<div id="wrapper" class="clearfix">
  <% include ../addon/header.ejs %>
  <main>
    <div class="container">
      <div class="vview">
        <form action="include/jobs.php" id="template-jobform" name="template-jobform" method="post" role="form">
          <div class="entry clearfix">
            <div class="entry-title">
              <h2><%= postTitle %></h2>
            </div>
            <div class="vview-info clearfix">
              <ul class="entry-meta">
                <li><%= moment(createdAt).fromNow() %></li>
                <li><%= postType %></li>
                <li><i class="icon-heart3"> <span><%= LikeUsers.length %></span></i></li>
                <li><i class="icon-comments"> <span><%= commentCount %></span></i> </li>
              </ul>
              <div class="si-share noborder">
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= encodeURIComponent('https://vgram.kr/post/' + postID) %>" class="social-icon si-colored si-small si-facebook fb-xfbml-parse-ignore">
                  <i class="icon-facebook"></i>
                  <i class="icon-facebook"></i>
                </a>
                <a id="kakao-link-btn" href="javascript:sendKakaoTalk()" class="social-icon si-colored si-small si-kakao">
                  <i class="icon-kakao"></i>
                  <i class="icon-kakao"></i>
                </a>
                <a href="#" class="social-icon si-colored si-small si-line">
                  <i class="icon-line"></i>
                  <i class="icon-line"></i>
                </a>
                <a href="#" class="social-icon si-colored si-small si-band">
                  <i class="icon-band"></i>
                  <i class="icon-band"></i>
                </a>
                <a href="#" class="social-icon si-colored si-small si-twitter">
                  <i class="icon-twitter"></i>
                  <i class="icon-twitter"></i>
                </a>
                <a href="#copy" class="social-icon si-colored si-small si-copy copy-link">
                  <i class="icon-copy"></i>
                  <i class="icon-copy"></i>
                </a>
                <div id="copy" class="white-popup mfp-hide mfp-copy">
                  <h4>공유하기</h4>
                  <div class="col_full clearfix">
                    <label>URL</label>
                    <input id="copy-url" class="sm-form-control" type="text" readonly="readonly" value="https://vgram.kr/post/<%= postID %>">
                    <button class="button button-small" data-clipboard-target="#copy-url">복사</button>
                  </div>
                  <div class="col_full clearfix">
                    <label>EMBED TAG</label>
                    <input id="copy-embed" class="sm-form-control" type="text" readonly="readonly" value='<embed src="https://vgram.kr/post/embed/<%= postID %>" width="100%" height="500"></embed>'>
                    <button class="button button-small" data-clipboard-target="#copy-embed">
                      복사
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="vview-content">
              <div class="vr-image">
                <ul class="nav nav-tabs boot-tabs">
                  <li class="active"><a href="#vr-image1" data-toggle="tab">VR</a></li>
                  <li><a href="#vr-image2" data-toggle="tab">이미지</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade in active" id="vr-image1">
                    <div id="pano" style="width:100%;height:600px;">
                    </div>
                  </div>
                  <div class="tab-pane fade" id="vr-image2">
                    <div class="fslider flex-thumb-grid grid-6 bottommargin-sm" data-arrows="false" data-animation="fade" data-thumbs="true">
                      <div class="flexslider">
                        <div class="slider-wrap">
                          <% for (var i = 0; i < normal.length; i++) { %>
                            <% var type = "desktop"; %>
                            <% var image = [mediaUrl, normal[i].file_path, type, normal[i].file_name].join('/').replace(/([^:]\/)\/+/g, "$1"); %>
                            <div class="slide" data-thumb="<%= image %>">
                              <a href="<%= image %>">
                                <img src="<%= image %>" alt="Image">
                              </a>
                            </div>
                          <% } %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="map clearfix">
                <div class="col_half">
                  <div id="daum-map" class="daum-map"></div>
                </div>
                <div class="col_half col_last">
                  <div id="daum-roadview" class="daum-roadview"></div>
                </div>
              </div>
              <div class="entry-content">
                <%- content %>
              </div>
            </div>
          </div>

          <div class="col_full hidden">
            <input type="text" placeholder="이거 없애뿌러" id="template-jobform-botcheck" name="template-jobform-botcheck"
                   value="" class="sm-form-control"/>
          </div>

          <!-- <div class="table_gogo">
            <div class=".col_half">
              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                  <thead> </thead>
                  <tbody>
                    <tr>
                      <td>보증금/월세</td>
                      <td>얼마?</td>
                      <td>방 종류</td>
                      <td>원룸?</td>
                    </tr>
                    <tr>
                      <td>해당 층 / 건물 층</td>
                      <td>3층 / 4층</td>
                      <td>공급/전용면적</td>
                      <td>33.0m^2 우아아</td>
                    </tr>
                    <tr>
                      <td>관리비</td>
                      <td>얼마?</td>
                      <td>관리비 포함항목</td>
                      <td>여러가지 세금</td>
                    </tr>
                    <tr>
                      <td>난방종류</td>
                      <td>개별!</td>
                      <td>엘리베이터</td>
                      <td>X</td>
                    </tr>
                    <tr>
                      <td>주차</td>
                      <td>가능함</td>
                      <td>반려동물</td>
                      <td>됐으면 ㅜㅜ</td>
                    </tr>
                    <tr>
                      <td>입주가능일</td>
                      <td>즉시</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div> -->

          <% if (myPost) { %>
          <div class="vview-button">
            <a id="modifyPost" href="#" class="button button-small">수정</a>
            <a id="updatePost" href="#" class="button button-small">재등록</a>
            <a id="deletePost" href="#" class="button button-small button-red">삭제</a>
          </div>
          <% } %>

          <div class="vview-author-info panel panel-default">
            <div class="panel-heading clearfix">
              <h3 class="panel-title">Posted by <span><a href="#"><img src="<%= post.user.profile_image_path %>" alt=""> <%= nickname %></a></span></h3>
            </div>
            <div class="panel-body">
              <div class="author-content">
                <%- comment %>

                            <!--<a href="#">-->
                              <!--<div class="member_option" style="float:right;">-->
                                <!--&lt;!&ndash;전화&ndash;&gt;-->
                                <!--<div class=".copy_body_fi" style="float: left;">-->
                                  <!--<ul onclick="callNumber('010-1234-5678')">-->
                                    <!--<div class="name" align="right">-->
                                      <!--<button type="button" data-dismiss="modal" aria-hidden="true" class="modal-title"><a-->
                                          <!--href="tel:010-1111-2222"><i class="icon-phone3"></i></a></button>-->
                                    <!--</div>-->
                                  <!--</ul>-->
                                <!--</div>-->

                                <!--&lt;!&ndash;SMS&ndash;&gt;-->
                                <!--<div class="copy_body_fi">-->
                                  <!--<div class="fbox-icon">-->
                                    <!--<button type="button" data-dismiss="modal" aria-hidden="true" class="modal-title"><a-->
                                        <!--href="sms:010-1111-2222"><i class="icon-line-mail"></i></a></button>-->
                                  <!--</div>-->
                                <!--</div>-->

                                <!--&lt;!&ndash;1:1대화&ndash;&gt;-->
                                <!--<div class="copy_body_fi">-->
                                  <!--<div class="fbox-icon">-->
                                    <!--<button type="button" data-dismiss="modal" aria-hidden="true" class="modal-title"-->
                                            <!--id="contactFormModalLabel"><a href="#" data-toggle="modal" data-target=""><i-->
                                          <!--class="icon-smile"></i></a></button>-->
                                  <!--</div>-->
                                <!--</div>-->
                              <!--</div>-->
                            <!--</a>-->
              </div>
              <div class="si-share noborder">
                <% if (sns.website) { %>
                  <a href="<%= sns.website %>" class="social-icon si-colored si-small si-website">
                    <i class="icon-website"></i>
                    <i class="icon-website"></i>
                  </a>
                <% } %>
                <% if (sns.facebook) { %>
                  <a href="<%= sns.facebook %>" class="social-icon si-colored si-small si-facebook">
                    <i class="icon-facebook"></i>
                    <i class="icon-facebook"></i>
                  </a>
                <% } %>
                <% if (sns.instagram) { %>
                  <a href="<%= sns.instagram %>" class="social-icon si-colored si-small si-instagram">
                    <i class="icon-instagram"></i>
                    <i class="icon-instagram"></i>
                  </a>
                <% } %>
                <% if (sns.twitter) { %>
                  <a href="<%= sns.twitter %>" class="social-icon si-colored si-small si-blog">
                    <i class="icon-blog"></i>
                    <i class="icon-blog"></i>
                  </a>
                <% } %>
              </div>
            </div>
          </div>
        </form>

        <div id="comments" class="clearfix">
<!--<label for="template-jobform-application">댓글 영역 (textarea 태그임)</label>-->
<!--<textarea name="template-jobform-application" id="template-jobform-application" rows="6" tabindex="11" class="sm-form-control required"></textarea>-->
          <h4 id="comments-title"><span><%= commentCount %></span>개의 댓글</h4>

          <form class="clearfix" action="#" method="post" id="commentform">
            <div class="col_full">
              <textarea name="comment" cols="58" rows="7" tabindex="4" class="sm-form-control"
                <% if (logined == false) { %> readonly>Login please.<% } else { %> > <% } %></textarea>
            </div>
            <div class="col_full nobottommargin center">
              <button name="submit" type="submit" id="submit-button" class="button button-small">등록</button>
            </div>
          </form>

          <div class="clist">
            <ol class="commentlist clearfix">
              <% for (i in comments) { %>
              <li class="comment">
                <div class="comment-wrap clearfix">
                  <div class="comment-meta">
                    <div class="comment-author vcard">
                      <span class="comment-avatar clearfix"><img alt="" src="<%= comments[i].user.profile_image_path %>" class="avatar avatar-60 photo avatar-default" height="60" width="60" /></span>
                    </div>
                  </div>
                  <div class="comment-content clearfix">
                    <div class="comment-author"><a href="#"><%= comments[i].user.nickname %></a><span><%= moment(comments[i].createdAt).fromNow() %></span></div>
                    <p><%= comments[i].content %></p>
                    <% if (comments[i].user.ID == userIdx)  { %>
                      <div class="comment-reply-link">
                        <a class="button button-small button-red" href="#">삭제</a>
                      </div>
                    <% } %>
                  </div>
                  <div class="clear"></div>
                </div>
              </li>
              <% } %>
            </ol>
            <!-- <div class="clist-more">
              <a href="#" class="btn btn-default btn-block">
                <i class="icon-line-plus"></i>
                더보기
              </a>
            </div> -->
          </div>
        </div>


<!--메일 폼인데 일단 뒀어용-->
<div class="modal fade" id="contactFormModal" tabindex="-1" role="dialog" aria-labelledby="contactFormModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="contactFormModalLabel">Send Us an Email</h4>
      </div>
      <div class="modal-body">

        <div class="contact-widget">
          <div class="contact-form-result"></div>
          <form class="nobottommargin" id="template-contactform" name="template-contactform"
                action="include/sendemail.php" method="post">

            <div class="form-process"></div>

            <div class="col_half">
              <label for="template-contactform-name">Name
                <small>*</small>
              </label>
              <input type="text" id="template-contactform-name" name="template-contactform-name" value=""
                     class="sm-form-control required"/>
            </div>

            <div class="col_half col_last">
              <label for="template-contactform-email">Email
                <small>*</small>
              </label>
              <input type="email" id="template-contactform-email" name="template-contactform-email" value=""
                     class="required email sm-form-control"/>
            </div>

            <div class="clear"></div>

            <div class="col_half">
              <label for="template-contactform-phone">Phone</label>
              <input type="text" id="template-contactform-phone" name="template-contactform-phone" value=""
                     class="sm-form-control"/>
            </div>

            <div class="col_half col_last">
              <label for="template-contactform-service">Services</label>
              <select id="template-contactform-service" name="template-contactform-service"
                      class="sm-form-control">
                <option value="">-- Select One --</option>
                <option value="Wordpress">Wordpress</option>
                <option value="PHP / MySQL">PHP / MySQL</option>
                <option value="HTML5 / CSS3">HTML5 / CSS3</option>
                <option value="Graphic Design">Graphic Design</option>
              </select>
            </div>

            <div class="clear"></div>

            <div class="col_full">
              <label for="template-contactform-subject">Subject
                <small>*</small>
              </label>
              <input type="text" id="template-contactform-subject" name="template-contactform-subject"
                     value="" class="required sm-form-control"/>
            </div>

            <div class="col_full">
              <label for="template-contactform-message">Message
                <small>*</small>
              </label>
              <textarea class="required sm-form-control" id="template-contactform-message"
                        name="template-contactform-message" rows="6" cols="30"></textarea>
            </div>

            <div class="col_full hidden">
              <input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck"
                     value="" class="sm-form-control"/>
            </div>

            <div class="col_full">
              <button class="button button-3d nomargin" type="submit" id="template-contactform-submit"
                      name="template-contactform-submit" value="submit">Send Message
              </button>
            </div>

          </form>

        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


        <!-- <div class="line"></div> -->

        <!-- <div class="vlist">
          <h4>관련 게시물</h4>

          <div id="vlist" class="vlist-content portfolio grid-container portfolio-3 portfolio-masonry clearfix">

            <article class="portfolio-item NORMAL REAL_ESTATE RESTAURANT INTERIOR AERIAL ETC">
              <div class="portfolio-image">
                <a href="/html/view.html">
                  <img src="/lib/js-canvas/images/portfolio/masonry/3/1.jpg" alt="Open Imagination">
                </a>
              </div>
              <div class="portfolio-desc">
                <span class="author"><a href="/user/5"><img src="http://localhost:3001/users/sinho0689@gmail.com/zrss85pYUt5u08Au0SxBy6TdTzTmbWQT.png" alt="Avatar"> 모랩</a></span>
                <h3><a href="/html/view.html">전북 전주시 덕진구 백제대로 567</a></h3>
                <span class="info clearfix">
                  <span class="date">2017-09-12</span>
                  <span class="heart"><i class="icon-heart3"></i> 0</span>
                  <span class="comment"><i class="icon-comments"></i> 10</span>
                </span>
              </div>
            </article>

            <article class="portfolio-item TRAVEL ACCOMMODATION VACATION_SPOT INTERIOR AERIAL">
              <div class="portfolio-image">
                <div class="fslider" data-arrows="false" data-speed="400" data-pause="4000">
                  <div class="flexslider">
                    <div class="slider-wrap">
                      <div class="slide"><a href="/html/view.html"><img src="/lib/js-canvas/images/portfolio/masonry/3/6.jpg" alt="Morning Dew"></a></div>
                      <div class="slide"><a href="/html/view.html"><img src="/lib/js-canvas/images/portfolio/masonry/3/6-1.jpg" alt="Morning Dew"></a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="portfolio-desc">
                <span class="author"><a href="/user/5"><img src="http://localhost:3001/users/sinho0689@gmail.com/zrss85pYUt5u08Au0SxBy6TdTzTmbWQT.png" alt="Avatar"> 모랩</a></span>
                <h3><a href="/html/view.html">전북 전주시 덕진구 백제대로 567</a></h3>
                <span class="info clearfix">
                  <span class="date">2017-09-12</span>
                  <span class="heart"><i class="icon-heart3"></i> 0</span>
                  <span class="comment"><i class="icon-comments"></i> 10</span>
                </span>
              </div>
            </article>

            <article class="portfolio-item ACCOMMODATION VACATION_SPOT INTERIOR ETC">
              <div class="portfolio-image">
                <a href="/html/view.html">
                  <img src="/lib/js-canvas/images/portfolio/masonry/3/7.jpg" alt="Open Imagination">
                </a>
              </div>
              <div class="portfolio-desc">
                <span class="author"><a href="/user/5"><img src="http://localhost:3001/users/sinho0689@gmail.com/zrss85pYUt5u08Au0SxBy6TdTzTmbWQT.png" alt="Avatar"> 모랩</a></span>
                <h3><a href="/html/view.html">전북 전주시 덕진구 백제대로 567</a></h3>
                <span class="info clearfix">
                  <span class="date">2017-09-12</span>
                  <span class="heart"><i class="icon-heart3"></i> 0</span>
                  <span class="comment"><i class="icon-comments"></i> 10</span>
                </span>
              </div>
            </article>

             <article class="portfolio-item TRAVEL REAL_ESTATE ACCOMMODATION INTERIOR AERIAL">
              <div class="portfolio-image">
                <a href="/html/view.html">
                  <img src="/lib/js-canvas/images/portfolio/masonry/3/1.jpg" alt="Open Imagination">
                </a>
              </div>
              <div class="portfolio-desc">
                <span class="author"><a href="/user/5"><img src="http://localhost:3001/users/sinho0689@gmail.com/zrss85pYUt5u08Au0SxBy6TdTzTmbWQT.png" alt="Avatar"> 모랩</a></span>
                <h3><a href="/html/view.html">전북 전주시 덕진구 백제대로 567</a></h3>
                <span class="info clearfix">
                  <span class="date">2017-09-12</span>
                  <span class="heart"><i class="icon-heart3"></i> 0</span>
                  <span class="comment"><i class="icon-comments"></i> 10</span>
                </span>
              </div>
            </article>

            <article class="portfolio-item TRAVEL RESTAURANT AERIAL ETC">
              <div class="portfolio-image">
                <div class="fslider" data-arrows="false" data-speed="400" data-pause="4000">
                  <div class="flexslider">
                    <div class="slider-wrap">
                      <div class="slide"><a href="/html/view.html"><img src="/lib/js-canvas/images/portfolio/masonry/3/6-2.jpg" alt="Morning Dew"></a></div>
                      <div class="slide"><a href="/html/view.html"><img src="/lib/js-canvas/images/portfolio/masonry/3/6-3.jpg" alt="Morning Dew"></a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="portfolio-desc">
                <span class="author"><a href="/user/5"><img src="http://localhost:3001/users/sinho0689@gmail.com/zrss85pYUt5u08Au0SxBy6TdTzTmbWQT.png" alt="Avatar"> 모랩</a></span>
                <h3><a href="/html/view.html">전북 전주시 덕진구 백제대로 567</a></h3>
                <span class="info clearfix">
                  <span class="date">2017-09-12</span>
                  <span class="heart"><i class="icon-heart3"></i> 0</span>
                  <span class="comment"><i class="icon-comments"></i> 10</span>
                </span>
              </div>
            </article>

          </div>

          <div id="load-next-vlist" class="vlist-more center">
            <a href="/html/ajax_view_list.html?v=2" class="btn btn-default btn-block">
              <i class="icon-line-plus"></i>
              더보기
            </a>
          </div>
        </div> -->
      </div>
    </div>
  </main>
  <% include ../addon/footer.ejs %>
</div>

<div id="gotoTop" class="icon-angle-up"></div>

<!-- LOAD JAVASCRIPT -->
<% include ../static/js.ejs %>
<!-- Page -->
<script>
  // URL 공유
  $('a.copy-link').magnificPopup({
    type: 'inline',
    closeBtnInside: true,
    preloader: false
  });

  // 이미지 컨텐츠 lightbox
  SEMICOLON.widget.loadFlexSlider();
  $('.vr-image .slider-wrap').magnificPopup({
    delegate: 'a',
    type: 'image',
    mainClass: 'mfp-img-mobile',
    gallery: {
      enabled: true,
      navigateByImgClick: true,
      preload: [0,1] // Will preload 0 - before current, and 1 after the current image
    }
  });

  // 댓글 더보기
  $('.clist-more a').on('click', function(e) {
    var $html = '<li class="comment"><div class="comment-wrap clearfix"><div class="comment-meta"><div class="comment-author vcard"><span class="comment-avatar clearfix"><img alt="" src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60" class="avatar avatar-60 photo avatar-default" height="60" width="60" /></span></div></div><div class="comment-content clearfix"><div class="comment-author">모랩<span>2017-09-18</span></div><p>댓글입니다.</p></div><div class="clear"></div></div></li>';

    $('.clist').append('<div class="loading"><div><i class="icon-line-loader icon-spin"></i></div></div>');
    window.setTimeout(function() {
      $('.commentlist').append($html);
      $('.clist .loading').remove();
    }, 500);

    e.preventDefault();
  });

  // Masonry
  (function() {
    var $container = $('#vlist');
    $container.isotope();
    $container.infinitescroll({
      loading: {
        finishedMsg: '<i class="icon-line-check"></i>',
        msgText: '<i class="icon-line-loader icon-spin"></i>',
        img: "/lib/js-canvas/images/preloader-dark.gif",
        speed: 'normal'
      },
      state: {
        isDone: false
      },
      nextSelector: "#load-next-vlist a",
      navSelector: "#load-next-vlist",
      itemSelector: "article.portfolio-item",
      behavior: 'portfolioinfiniteitemsloader'
    },
    function( newElements ) {
      $container.isotope( 'appended', $( newElements ) );
      var t = setTimeout( function(){ $container.isotope('layout'); }, 2000 );
      SEMICOLON.widget.loadFlexSlider();
      SEMICOLON.portfolio.arrange();
    });
  })();
</script>
<!--다음 지도-->
<script>
  var container = document.getElementById('daum-map');
  var options = {
    center: new daum.maps.LatLng(<%= lat %>, <%= lng %>),
    //                                 휠 작동 안되게 함 (draggable)
    draggable: false,
    level: 3
  };
  var map = new daum.maps.Map(container, options);

  var markerPosition = new daum.maps.LatLng(<%= lat %>, <%= lng %>);
  var marker = new daum.maps.Marker({
    position: markerPosition
  });
  marker.setMap(map);

  var iwContent = '<div style="padding:5px;">모빌리티랩스<br><a href="http://map.daum.net/link/map/모빌리티랩스,<%= lat %>, <%= lng %>" style="color:blue" target="_blank">큰지도보기</a> <a href="http://map.daum.net/link/to/모빌리티랩스,<%= lat %>, <=%lng%>" style="color:blue" target="_blank">길찾기</a></div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
    iwPosition = new daum.maps.LatLng(<%= lat %>, <%= lng %>); //인포윈도우 표시 위치입니다

  var infowindow = new daum.maps.InfoWindow({
    position: iwPosition,
    content: iwContent
  });

  infowindow.open(map, marker);
</script>
<script>
  var roadviewContainer = document.getElementById('daum-roadview'); //로드뷰를 표시할 div
  var roadview = new daum.maps.Roadview(roadviewContainer); //로드뷰 객체
  var roadviewClient = new daum.maps.RoadviewClient(); //좌표로부터 로드뷰 파노ID를 가져올 로드뷰 helper객체

  var position = new daum.maps.LatLng(33.450701, 126.570667);
  //                                      ejs로 좌표값 주면 로드뷰가 안떠용;;
  //
  <!--var position = new daum.maps.LatLng(<%= lat %>, <%= lng %>);-->

  // 특정 위치의 좌표와 가까운 로드뷰의 panoId를 추출하여 로드뷰를 띄운다.
  roadviewClient.getNearestPanoId(position, 50, function (panoId) {
    roadview.setPanoId(panoId, position); //panoId와 중심좌표를 통해 로드뷰 실행
  });
</script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script type="text/javascript">
  // 사용할 앱의 JavaScript 키를 설정해 주세요.
  Kakao.init('앱키');

  // 카카오톡 공유하기
  function sendKakaoTalk() {
    Kakao.Link.sendTalkLink({
      label: '공유 제목',
      image: {
        src: 'http://이미지경로',
        width: '300',
        height: '200'
      },
      webButton: {
        text: '공유제목',
        url: 'https://도메인' // 앱 설정의 웹 플랫폼에 등록한 도메인의 URL이어야 합니다.
      }
    });
  }

  // 카카오스토리 공유하기
  function shareStory() {
    Kakao.Story.share({
      url: '도메인',
      text: '공유제목'
    });
  }

  // send to SNS
  function toSNS(sns, strTitle, strURL) {
    var snsArray = new Array();
    var strMsg = strTitle + " " + strURL;
    var image = "이미지경로";

    snsArray['twitter'] = "http://twitter.com/home?status=" + encodeURIComponent(strTitle) + ' ' + encodeURIComponent(strURL);
    snsArray['facebook'] = "http://www.facebook.com/share.php?u=" + encodeURIComponent(strURL);
    snsArray['pinterest'] = "http://www.pinterest.com/pin/create/button/?url=" + encodeURIComponent(strURL) + "&media=" + image + "&description=" + encodeURIComponent(strTitle);
    snsArray['band'] = "http://band.us/plugin/share?body=" + encodeURIComponent(strTitle) + "  " + encodeURIComponent(strURL) + "&route=" + encodeURIComponent(strURL);
    snsArray['blog'] = "http://blog.naver.com/openapi/share?url=" + encodeURIComponent(strURL) + "&title=" + encodeURIComponent(strTitle);
    snsArray['line'] = "http://line.me/R/msg/text/?" + encodeURIComponent(strTitle) + " " + encodeURIComponent(strURL);
    snsArray['pholar'] = "http://www.pholar.co/spi/rephol?url=" + encodeURIComponent(strURL) + "&title=" + encodeURIComponent(strTitle);
    snsArray['google'] = "https://plus.google.com/share?url=" + encodeURIComponent(strURL) + "&t=" + encodeURIComponent(strTitle);
    window.open(snsArray[sns]);
  }

  function copy_clip(url) {
    var IE = (document.all) ? true : false;
    if (IE) {
      window.clipboardData.setData("Text", url);
      alert("이 글의 단축url이 클립보드에 복사되었습니다.");
    } else {
      temp = prompt("이 글의 단축url입니다. Ctrl+C를 눌러 클립보드로 복사하세요", url);
    }
  }
</script>

<script>
  jQuery(function ($) {
    $('#deletePost').click(function () {
      $.ajax({
        type: 'DELETE',
        url: '/post/delete/<%= postID %>',
        success: function (data) {
          if (data == "OK") {
            alert("삭제되었습니다.");
            location.reload();
          }
        },
        error: function (error) {
          alert(error.responseJSON.errorMsg);
        }
      });
    });

    $('#modifyPost').click(function () {
      location.href = '/post/change/<%= postID %>';
    });

    $('#updatePost').click(function () {
      $.ajax({
        type: 'PUT',
        url: '/post/re-enroll/<%= postID %>',
        success: function (data) {
          if (data == "OK") {
            alert("재등록 하였습니다.");
            location.reload();
          } else if (data == "other") {
            alert("다른 회원의 게시글 입니다.");
          }

          else {
            alert(data);
          }
        },
        error: function (error) {
          alert(error);
        }
      });
    });
  });
</script>

<script>

  var commentCount = <%= commentCount %>;

  jQuery(function($) {
    $('#commentform button').click(function() {
      const comment = $('#commentform textarea').val();
      $.ajax({
        method: 'POST',
        url: '/post/comment/new/<%= postID %>',
        data: {
          comment: comment,
        },
        success: function(result) {

          $('#commentform textarea').val('');

          var $commentlist = $('.commentlist');
          
          $commentlist.prepend(new EJS({url: '/template/post/comment.ejs'}).render({ comment: comment, user: result.user, createdAt: result.createdAt }));

          commentCount++;
          $('#comments-title span').html(commentCount);
          $('.icon-comments span').html(commentCount);

        }
      });

      return false;
    });
  });
</script>


<script src="/lib/krpano-1.19-pr6-viewer/krpano-tour.js"></script>

<!-- vtour 1개?? -->
<script>
  <% if (vtour.length != 0) { %>
  const VRImages = {
    baseDir: "<%= vtour[0].file_path %>",
    xmlName: "<%= vtour[0].file_name %>"
  };

  embedpano({
    swf: "/lib/krpano-1.19-pr6-viewer/krpano-tour.swf",
    xml: ['<%= mediaUrl %>', VRImages.baseDir, VRImages.xmlName].join('/').replace(/([^:]\/)\/+/g, "$1"),
    target: "pano", html5: "auto", mobilescale: 1.0, passQueryParameters: true
  });
  <% } %>
</script>
<!--// Page -->

</body>
</html>
