<% for (var i = 0; i < post.length; i++) { %>
  <article class="portfolio-item <%= post[i].post_type %>" data-id="<%= post[i].ID %>">
    <div class="portfolio-image">
        <div class="fslider" data-arrows="false">
          <div class="flexslider">
              <div class="slider-wrap">
                <div class="slide"><a href="portfolio-single-gallery.html"><img src="/medias/vtours/sinho0689@gmail.com/201705310101/panos/SAM_100_0073.tiles/thumb.jpg" alt="Shake It"></a></div>
                <div class="slide"><a href="portfolio-single-gallery.html"><img src="/medias/vtours/sinho0689@gmail.com/201705310101/panos/SAM_100_0074.tiles/thumb.jpg" alt="Shake It"></a></div>
                <div class="slide"><a href="portfolio-single-gallery.html"><img src="/medias/vtours/sinho0689@gmail.com/201705310101/panos/SAM_100_0075.tiles/thumb.jpg" alt="Shake It"></a></div>
              </div>
          </div>
        </div>
        <div class="portfolio-overlay" data-lightbox="gallery">
          <a href="/medias/images/sinho0689@gmail.com/desktop/360x240_201606281846.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
          <a href="/medias/images/sinho0689@gmail.com/desktop/1975-20150311114607.jpg" class="hidden" data-lightbox="gallery-item"></a>
          <a href="/medias/images/sinho0689@gmail.com/desktop/progressing.jpg" class="hidden" data-lightbox="gallery-item"></a>
          <a href="/medias/images/sinho0689@gmail.com/desktop/ê±´ì¶•ë¶„ìŸ_201701254601136.jpg" class="hidden" data-lightbox="gallery-item"></a>
          <!-- <a href="/lib/js-canvas/images/portfolio/full/1.jpg" class="right-icon"><i class="icon-line-ellipsis"></i></a> -->
        </div>
    </div>
    <div class="testimonial">
        <div class="testi-image">
          <a href="#"><img src="<%= mediaUrl %><%= post[i].user.profile_image_path %>" alt="Avatar"></a>
        </div>
        <div class="testi-meat"><p style=" margin-bottom:0px;"><%= post[i].user.nickname %></p></div>
        <div class="clear"></div>
        <div class="portfolio-desc">
          <h3><a href="/post/<%= post[i].ID %>"><%= post[i].title %></a></h3>
        </div>
        <ul class="entry-meta clearfix">
          <li><i class="icon-line-heart"></i><span><%= post[i].LikeUsers.length %></span></li>
          <li><i class="icon-calendar3"></i><%= new Date(post[i].createdAt).toLocaleDateString("ko-KR", {year: 'numeric', month: '2-digit', day: '2-digit'}) %></li>
          <li><i class="icon-comments"></i><%= post[i].Comments.length %></li>
        </ul>
    </div>
  </article>
<% } %>
