<% for (var i = 0; i < post.length; i++) { %>
  <article class="portfolio-item <%= post[i].post_type %>" data-id="<%= post[i].ID %>">
    <% if (JSON.parse(post[i].thumbnail_image_path)) { %>
      <% var images = JSON.parse(post[i].thumbnail_image_path)[0].vrimages %>
    <% } else { %>
      <% var images = [] %>
    <% } %>
    <div class="portfolio-image">
      <div class="fslider" data-arrows="false" data-speed="400" data-pause="4000">
        <div class="flexslider">
          <div class="slider-wrap">
            <% for (var j = 0; j < images.length; j++) { %>
              <div class="slide"><a href="/post/ajax/<%= post[i].ID %>" class="ajax-link"><img src="<%= mediaUrl %>/<%= images[j].thumb %>" alt=""></a></div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-desc">
      <span class="author"><a href="/user/<%= post[i].user.ID %>"><img src="<%= post[i].user.profile_image_path %>" alt=""> <%= post[i].user.nickname %></a></span>
      <h3><a href="/post/<%= post[i].ID %>"><%= post[i].title %></a></h3>
      <span class="info clearfix">
        <span class="date"><%= new Date(post[i].createdAt).toLocaleDateString("ko-KR", {year: 'numeric', month: '2-digit', day: '2-digit'}) %></span>
        <span class="heart"><i class="icon-heart3"></i> <%= post[i].LikeUsers.length %></span>
        <span class="comment"><i class="icon-comments"></i> <%= post[i].Comments.length %></span>
      </span>
    </div>
  </article>
<% } %>