<!DOCTYPE html>
<html lang="ko">
<head>
  <% include ../static/head.ejs %>
  <!-- Range Slider CSS -->
  <link rel="stylesheet" href="/lib/js-canvas/css/components/ion.rangeslider.css" type="text/css" />
</head>
<body id="sub-full" class="stretched no-transition no-smooth-scroll">

<div id="wrapper">
  <% include ../addon/header.ejs %>
  <main>
    <div id="map-container" class="clearfix">
      <div class="vlist">
        <div class="vlist-menu-wrapper clearfix">
          <div id="category" class="vlist-menu portfolio-filter" data-container="#vlist">
            <div class="vlist-menu-item activeFilter"><a href="#" data-filter="all"><i class="icon-line2-grid"></i>모두보기</a></div>
            <div class="vlist-menu-item"><a href="#" data-filter="NORMAL"><i class="icon-line2-folder"></i>일반</a></div>
            <div class="vlist-menu-item"><a href="#" data-filter="TRAVEL"><i class="icon-line2-compass"></i>여행</a></div>
            <div class="vlist-menu-item"><a href="#" data-filter="REAL_ESTATE"><i class="icon-line2-home"></i>방/부동산</a></div>
            <div class="vlist-menu-item"><a href="#" data-filter="ACCOMMODATION"><i class="icon-line2-calendar"></i>숙박</a></div>
            <div class="vlist-menu-item"><a href="#" data-filter="VACATION_SPOT"><i class="icon-line2-direction"></i>휴양지</a></div>
            <div class="vlist-menu-item"><a href="#" data-filter="RESTAURANT"><i class="icon-line2-cup"></i>레스토랑</a></div>
            <div class="vlist-menu-item"><a href="#" data-filter="INTERIOR"><i class="icon-line2-wrench"></i>인테리어</a></div>
            <div class="vlist-menu-item"><a href="#" data-filter="AERIAL"><i class="icon-line2-plane"></i>항공</a></div>
            <div class="vlist-menu-item"><a href="#" data-filter="ETC"><i class="icon-line2-ban"></i>기타</a></div>
            <% for (i in value.placeType) { %>
              <!-- <li><a href="#" data-filter="<%= i %>"><%= __("placeType")[i] %></a></li> -->
            <% } %>
          </div>
        </div>
        <!-- 포트폴리오 -->
        <div id="post" class="vlist-content portfolio grid-container portfolio-3 portfolio-masonry clearfix">
          <article class="portfolio-item" style="padding:0"></article>
        </div>
        <!-- #portfolio end -->
        <div id="load-next-vlist" class="vlist-more center">
          <a href="#" class="btn btn-default btn-block">
            <i class="icon-line-plus"></i>
            더보기
          </a>
        </div>
      </div>
      <div class="map">
        <div id="map"></div>
      </div>
      <div class="control">
        <button class="button button-small button-circle"><i class="icon-map"></i><span>지도</span>
      </div>
    </div>
  </main>
  <% include ../addon/footer.ejs %>
</div>

<div id="gotoTop" class="icon-angle-up"></div>

<!-- LOAD JAVASCRIPT -->
<% include ../static/js.ejs %>

<!-- Page -->
<!-- 인피니티 스크롤-->
<script type="text/javascript">
// 지도 Toggle
$('#map-container .control button').on('click', function(e) {
  var $map = $('#map-container .map').toggleClass('active');

  if ($map.hasClass('active')) {
    $('span', this).html("목록");  // i18n 적용 필요
  } else {
    $('span', this).html("지도");
  }

  e.preventDefault();
});
</script>
<script>
  /*
  $(document).ready(function () {
    $(".range_20").ionRangeSlider({
      type: "double",
      min: 1000,
      max: 2000,
      from: 1200,
      to: 1800,
      hide_min_max: true,
      hide_from_to: true,
      grid: false
    });
  });
  */
</script>

<!-- map -->
<script type="text/javascript" src="/js/map.js"></script>

<!-- Room List Script -->
<script type="text/javascript" src="/js/room-list.js"></script>
<script type="text/javascript">
  function initMap() {
    var lat, lng;
    var is_safari = navigator.vendor &&
      navigator.vendor.indexOf('Apple') > -1 &&
      navigator.userAgent && !navigator.userAgent.match('CriOS');
    roomList.init("<%= mediaUrl %>");

    if (!is_safari && navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function (position) {
        lat = position.coords.latitude;
        lng = position.coords.longitude;
        roomList.drawRoom(lat, lng);
      });
    } else {
      lat = <%= lat %>;
      lng = <%= lng %>;
      roomList.drawRoom(lat, lng);
    }
  }
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzgaoy93ozZFYqlmTvo8LNbO6i9WYqrlM&callback=initMap"></script>
<!-- External JavaScripts
============================================= -->
<!-- <script type="text/javascript" src="js/jquery.js"></script> -->
<!-- <script type="text/javascript" src="js/plugins.js"></script> -->
<!-- Bootstrap Select Plugin -->
<!-- <script type="text/javascript" src="js/components/bs-select.js"></script> -->
<!-- <link rel="stylesheet" href="css/components/bs-select.css" type="text/css" /> -->
<!-- Select Splitter Plugin -->
<!-- <script type="text/javascript" src="js/components/selectsplitter.js"></script> -->
<!--// Page -->

</body>
</html>
