<div class="top-notification-item clearfix">
  <a href="/post/<%= data.data.post.ID %>">
    <span class="photo"><img src="<%= data.data.post.user.profile_image_path %>" alt=""></span>
    <span class="info"><%= data.data.post.user.nickname %>님께서 <%= data.data.post.title %>글을 남기셨습니다.</span>
    <span class="date"><%= moment(data.data.post.createdAt).fromNow() %></span>
  </a>
</div>