<!DOCTYPE html>
<html lang="ko">
<head>
  <% include ../static/head.ejs %>
  <!-- 다음 우편번호 api-->
  <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
</head>
<body id="sub" class="stretched no-transition no-smooth-scroll">

<div id="wrapper" class="clearfix">
  <% include ../addon/header.ejs %>
  <main>
    <div class="container">
      <div class="row clearfix">
        <div class="col-sm-3 clearfix bottommargin-sm">
          <% include ./right-side.ejs %>
        </div>
        <div class="profile col-sm-9">
          <form class="nobottommargin" id="change-form" name="template-contactform" method="post">

            <img src="<%= profile_image_path %>" class="alignleft img-circle img-thumbnail notopmargin nobottommargin"
                 alt="Avatar" style="width: 84px;">

            <div class="heading-block noborder info">
              <h3><%= nickname %></h3>
              <span>
                <span><i class="icon-heart3"></i> <%= userLikeCount %></span>
                <span><i class="icon-star3"></i> <%= __("memberType")[member_type] %></span>
              </span>
            </div>

            <div class="clear"></div>

            <div class="col_one_third">
              <label>프로필 사진</label>
              <div>
                <div class="kv-avatar center-block text-center">
                  <!--<label for="profile" class="button button-small nomargin">등록</label>-->
                  <input id="profile" name="profile" type="file" class="file-loading">
                  <input id="profile_src" name="profile_src" type="hidden" value="<%= profile_image_path %>"/>
                  <!--<button type="button" class="button button-small button-red nomargin">삭제</button>-->
                  <!--<label class="button button-small nomargin">등록<input type="file" style="display: none;"></label>-->
                  <!--<button type="button" class="button button-small button-red nomargin">삭제</button>-->
                </div>
              </div>
            </div>

            <div class="col_one_third">
              <label for="nickname">닉네임</label>
              <input type="text" id="nickname" name="nickname" value="<%= nickname %>"
                     class="sm-form-control required show-error-msg"/>
            </div>

            <div class="col_one_third col_last">
              <label for="phone">Phone</label>
              <input type="text" id="phone" name="phone" value="<%= phone %>" class="sm-form-control show-error-msg"/>
            </div>

            <div class="clear"></div>

            <% if (member_type != 'PUBLIC') { %>
            <!-- 사업장 -->
            <div class="col_one_third">
              <label for="template-contactform-service">업종</label>
              <select id="template-contactform-service" name="template-contactform-service" class="sm-form-control">
                <option value="">-- Select One --</option>
                <option value="Wordpress">Wordpress</option>
                <option value="PHP / MySQL">PHP / MySQL</option>
                <option value="HTML5 / CSS3">HTML5 / CSS3</option>
                <option value="Graphic Design">Graphic Design</option>
              </select>
            </div>

            <div class="col_one_third">
              <label for="registered_number">사업자 등록번호*</label>
              <input type="text" id="registered_number" name="registered_number" value="<%= registered_number %>"
                     class="sm-form-control required show-error-msg"/>
            </div>

            <div class="col_one_third col_last">
              <label for="business_name">대표명*</label>
              <input type="text" id="business_name" name="business_name" value="<%= business_name %>"
                     class="required sm-form-control"/>
            </div>

            <div class="clear"></div>

            <div class="col_full clearfix address">
              <label>주소</label>
              <div>
                <button type="button" onclick="sample4_execDaumPostcode()">주소검색</button>
                <input type="text" id="sample4_postcode" class="sm-form-control" name="post_code"
                       value="<%= post_code %>" placeholder="우편번호" readonly>
                <input type="text" id="sample4_roadAddress" class="sm-form-control" name="addr1" value="<%= addr1 %>"
                       placeholder="도로명주소" readonly>
                <input type="text" id="sample4_jibunAddress" class="sm-form-control" name="addr2" value="<%= addr2 %>"
                       placeholder="지번주소">
                <span id="guide" style="color:#999"></span>
              </div>
            </div>
            <!--// 사업장 -->
            <% } %>

            <!-- 일반 -->
            <!-- <div class="col_half">
              <label>닉네임</label>
              <input type="text" class="sm-form-control">
            </div> -->

            <div class="col_half">
              <label>성별</label>
              <select class="sm-form-control">
                <option>남</option>
                <option>여</option>
              </select>
            </div>

            <!-- <div class="col_half">
              <label>PHONE</label>
              <input type="text" class="sm-form-control">
            </div> -->

            <div class="col_half col_last">
              <label for="website">WEBSITE</label>
              <input type="text" id="website" name="website" value="<%= sns.website %>" class="sm-form-control"/>
            </div>

            <div class="clear"></div>
            <!--// 일반 -->

            <div class="col_half">
              <label for="facebook">FACEBOOK</label>
              <input type="email" id="facebook" name="facebook" value="<%= sns.facebook %>"
                     class="email sm-form-control"/>
            </div>

            <div class="col_half col_last">
              <label for="instagram">INSTAGRAM</label>
              <input type="text" id="instagram" name="instagram" value="<%= sns.instagram %>" class="sm-form-control"/>
            </div>

            <div class="clear"></div>

            <div class="col_half">
              <label for="blog">BLOG</label>
              <input type="text" id="blog" name="blog" value="<%= sns.blog %>" class="sm-form-control"/>
            </div>

            <div class="col_half col_last">
              <label for="twitter">TWITTER</label>
              <input type="text" id="twitter" name="twitter" value="<%= sns.twitter %>" class="sm-form-control"/>
            </div>

            <div class="clear"></div>

            <div class="col_full">
              <label for="about">MESSAGE</label>
              <textarea class="sm-form-control" id="about" name="about" rows="5" cols="30"><%= about %></textarea>
            </div>

            <div class="clear"></div>

            <div class="center">
              <button type="button" id="delete-user-button" name="delete-user-button" class="button button-small button-red">계정삭제</button>
              <button type="submit" id="change-info-button" name="change-info-button" class="button button-small">완료</button>
            </div>

            <!--<a href="#myModal1"  data-lightbox="inline" class="button button-large button-rounded">Trigger Modal</a>-->

            <!--<div id="cropModal" style="display:none;">-->
            <!--&lt;!&ndash; crop 이미지 &ndash;&gt;-->
            <!--<img id="cropImg" />-->
            <!--&lt;!&ndash; 버튼들 &ndash;&gt;-->
            <!--<button class="button button-3d button-rounded button-red" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">취소</button>-->
            <!--<button class="button button-3d button-rounded button-blue" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">확인</button>-->
            <!--</div>-->
            <!--<div class="modal-on-load" data-target="#myModal1"></div>-->

            <!-- 모달 폼 -->
            <div class="mfp-hide" id="cropModal" style="max-width: 1160px;margin: 0 auto;">
              <div class="block divcenter">
                <div class="center">
                  <div id="crop-InnerModal">
                    <!-- crop 이미지 -->
                    <img id="cropImg"/>
                    <!-- filename -->
                    <input type="hidden" disabled="disabled" id="profilename" />
                    <!-- 버튼들 -->
                    <button class="button button-small button-red" type="button" id="crop-cancel-button" name="crop-cancel-button" value="submit">취소</button>
                    <button class="button button-small" type="button" id="crop-ok-button" name="crop-ok-button" value="submit">확인</button>
                  </div>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  <% include ../addon/footer.ejs %>
</div>

<div id="gotoTop" class="icon-angle-up"></div>

<!-- LOAD JAVASCRIPT -->
<% include ../static/js.ejs %>

<!--<script>-->
<!--jQuery(function($) {-->
<!--function getAjax(link) {-->
<!--var memberIdx = window.location.href.split('#')[0].split('/');-->
<!--memberIdx = memberIdx[memberIdx.length - 1];-->

<!--$.ajax({-->
<!--url: 'http://localhost:3000/api/user/' + memberIdx + '/json/' + link,-->
<!--success: function(result) {-->
<!--$('#tab-' + link).html(new EJS({url: '/template/user/info-' + link + '.ejs'}).render({data: result}));-->
<!--SEMICOLON.widget.loadFlexSlider();-->
<!--SEMICOLON.portfolio.arrange();-->
<!--}-->
<!--});-->
<!--}-->

<!--$('.tab-nav li a').click(function() {-->
<!--let link = $(this).attr('href').split('-')[1];-->
<!--getAjax(link);-->
<!--});-->

<!--getAjax('follower');-->
<!--});-->
<!--</script>-->

<link rel="stylesheet" href="/lib/js-canvas/css/components/bs-filestyle.css" type="text/css"/>
<script type="text/javascript" src="/lib/js-canvas/js/components/bs-filestyle.js"></script>

<!-- Cropper JS -->
<link rel="stylesheet" href="/lib/cropperjs/cropper.css"/>
<script src="/lib/cropperjs/cropper.js"></script>

<script>
  //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
  function sample4_execDaumPostcode() {
    new daum.Postcode({
      oncomplete: function (data) {
        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

        // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
        var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
        var extraRoadAddr = ''; // 도로명 조합형 주소 변수

        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
          extraRoadAddr += data.bname;
        }
        // 건물명이 있고, 공동주택일 경우 추가한다.
        if (data.buildingName !== '' && data.apartment === 'Y') {
          extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
        }
        // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
        if (extraRoadAddr !== '') {
          extraRoadAddr = ' (' + extraRoadAddr + ')';
        }
        // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
        if (fullRoadAddr !== '') {
          fullRoadAddr += extraRoadAddr;
        }

        // 우편번호와 주소 정보를 해당 필드에 넣는다.
        document.getElementById('sample4_postcode').value = data.zonecode; //5자리 새우편번호 사용
        document.getElementById('sample4_roadAddress').value = fullRoadAddr;
        document.getElementById('sample4_jibunAddress').value = data.jibunAddress;

        // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
        if (data.autoRoadAddress) {
          //예상되는 도로명 주소에 조합형 주소를 추가한다.
          var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
          document.getElementById('guide').innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';

        } else if (data.autoJibunAddress) {
          var expJibunAddr = data.autoJibunAddress;
          document.getElementById('guide').innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';

        } else {
          document.getElementById('guide').innerHTML = '';
        }
      }
    }).open();
  }
</script>

<script>
  var $profileImg = $("#profile");
  var $cropInnerModal = $('#crop-InnerModal');
  var cropper;
  var orgFileBase, originalURL;
  var profile_image_path = 'undefined';

  <% if (profile_image_path) { %>
    profile_image_path = '<%= profile_image_path %>';
  <% } %>

  var fileinputOption = {
    overwriteInitial: true,
    showClose: false,
    showCaption: false,
    browseOnZoneClick: true,
    browseLabel: '등록',
    removeLabel: '삭제',
    browseIcon: '<i class="icon-folder-open"></i>',
    removeIcon: '<i class="icon-remove"></i>',
    removeTitle: 'Cancel or reset changes',
    elErrorContainer: '#kv-avatar-errors-1',
    msgErrorClass: 'alert alert-block alert-danger',
    // defaultPreviewContent: '<img src="<%= profile_image_path %>" alt="Your Avatar" style="width:160px">',
    layoutTemplates: {main2: '{preview} {remove} {browse}'},
    // layoutTemplates: {main2: '{browse} {remove}'},
    allowedFileTypes: ['image'],
    allowedFileExtensions: ["jpg", "png"]
  };

  if (profile_image_path) {
    fileinputOption.showRemove = true;
    fileinputOption.initialPreview = [profile_image_path];

    $(".img-thumbnail.img-circle").click((event, target) => {
      
      if (!$('#crop-InnerModal').find('#cropImg').attr('src')) return false;

      if (originalURL || profile_image_path) {
        $.magnificPopup.open({
          items: {
            src: $("#cropModal"),
            type: 'inline',
            mainClass: 'mfp-no-margins mfp-fade',
            closeBtnInside: false,
            fixedContentPos: true,
            overflowY: 'scroll',
            modal: true
          }
        });

        createCropView(originalURL || profile_image_path);
      }
    });
  }

  $profileImg.fileinput(fileinputOption);

  $('.file-preview').hide();

  $profileImg.on('change', function (event, numFiles, label) {
    originalURL;
    var file = document.querySelector('input[type=file]').files[0];
    var reader = new FileReader();

    reader.addEventListener("load", function (e) {
      var base64 = e.target.result;
      orgFileBase = base64;

      /* BASE64 STRING IMAGE BINDING */
      // preview.src = base64;

      /* BLOB URL IMAGE BINDING */
      // preview.src = window.URL.createObjectURL(base64StringToBlob(base64));
      originalURL = window.URL.createObjectURL(base64StringToBlob(base64));

      $.magnificPopup.open({
        items: {
          src: $("#cropModal"),
          type: 'inline',
          mainClass: 'mfp-no-margins mfp-fade',
          closeBtnInside: false,
          fixedContentPos: true,
          overflowY: 'scroll',
          modal: true
        }
      });

      createCropView(originalURL);
    }, false);

    reader.onerror = function (error) {
      console.log('Error: ', error);
    };

    if (file) {
      reader.readAsDataURL(file);
    }
  });

  function binaryStringToArrayBuffer(binary) {
    var length = binary.length;
    var buf = new ArrayBuffer(length);
    var arr = new Uint8Array(buf);
    for (var i = 0; i < length; i++) {
      arr[i] = binary.charCodeAt(i);
    }
    return buf;
  }

  function base64StringToBlob(base64) {
    var type = base64.match(/data:([^;]+)/)[1];
    base64 = base64.replace(/^[^,]+,/g, '');
    var options = {};
    if (type) {
      options.type = type;
    }
    var binaryArrayBuffer = [binaryStringToArrayBuffer(window.atob(base64))];
    return new Blob(binaryArrayBuffer, options);
  }

  function createCropView(data) {
    var $croppedImage = $('#crop-InnerModal').find('#cropImg').attr('src', data);

    if (cropper) {
      cropper.destroy();
    }

    cropper = new Cropper($croppedImage[0], {
      aspectRatio: 1 / 1,
      // autoCropArea: 0,
      // strict: true,
      // guides: false,
      // highlight: false,
      // dragCrop: false,
      // cropBoxMovable: false,
      // cropBoxResizable: false,
      // preview: '.img-preview',
      crop: function (e) {
        // $dataX.val(Math.round(e.x));
        // $dataY.val(Math.round(e.y));
        // $dataHeight.val(Math.round(e.height));
        // $dataWidth.val(Math.round(e.width));
        // $dataRotate.val(e.rotate);
        // $dataScaleX.val(e.scaleX);
        // $dataScaleY.val(e.scaleY);
      }
    });
  }

  // profile image crop 성공
  $cropInnerModal.find('#crop-ok-button').click(function () {
    var preview = document.querySelector('.img-thumbnail.img-circle');

    let croppedDataURL = cropper.getCroppedCanvas({width: 150, height: 150}).toDataURL();
    preview.src = window.URL.createObjectURL(base64StringToBlob(croppedDataURL));

    $.magnificPopup.close();
  });

  // profile image crop 취소
  $cropInnerModal.find('#crop-cancel-button').click(function () {
    // alert('취소');
    $.magnificPopup.close();
  });

  // 전송
  $('#change-info-button').click(function () {
    if ($('#crop-InnerModal').find('#cropImg').attr('src')) {
      var blobData;

      if (cropper) {
        let croppedDataURL = cropper.getCroppedCanvas({width: 150, height: 150}).toDataURL();
        blobData = base64StringToBlob(croppedDataURL);
      } else if (orgFileBase) {
        blobData = base64StringToBlob(orgFileBase);
      }

      // console.log('blobData', blobData);
      var fd = new FormData();
      fd.append('filename', $('.file-footer-caption')[0].title);
      fd.append('profile_images', blobData);

      $.ajax({
        type: 'POST',
        url: '<%= mediaUrl %>/convert/profile',
        data: fd,
        headers: {authorization: $.cookie("authorization"),},
        processData: false,
        contentType: false
      }).done(function (data) {
        $profile_src = $('#profile_src');
        $profile_src.attr('value', data.url);
        console.log($profile_src.attr('value'));
        $('form#change-form').submit();
      });
    } else {
      $('form#change-form').submit();
    }

    return false;
  });

  // 계정 삭제
  $('#delete-user-button').click(function () {
    if (confirm("삭제하시겠습니까?")) {
      $.ajax({
        type: 'DELETE',
        url: '/user/delete',
        headers: {authorization: $.cookie("authorization"),},
      }).done(function (data) {
        if (data == 'OK') location.href = '/auth/logout';
      });
    }

    return false;
  });
</script>

</body>
</html>
