<!DOCTYPE html>
<html lang="ko">
<head>
  <% include ../static/head.ejs %>
  <script type="text/javascript" src="//developers.band.us/js/share/band-button.js?v=28052017"></script>
</head>
<body id="sub" class="stretched no-transition no-smooth-scroll">

<div id="wrapper" class="clearfix">
  <% include ../addon/header.ejs %>
  <main>
    <div class="container">
      <div class="row clearfix">
        <div class="col-sm-3 clearfix bottommargin-sm">
          <% if(myPage) { %>
            <% include ./right-side.ejs %>
          <% } %>
        </div>
        <% if(myPage) { %>
          <div class="mypage col-sm-9">
        <% } else { %>
          <div class="mypage col-sm-full">
        <% } %>
          <img src="<%= profile_image_path %>" class="alignleft img-circle img-thumbnail notopmargin nobottommargin" alt="Avatar" style="width: 84px;">
          <div class="heading-block noborder info">
            <h3><%= nickname %></h3>
            <span>
              <span><i class="icon-heart3"></i> <%= userLikeCount %></span>
              <span><i class="icon-star3"></i> <%= __("memberType")[member_type] %></span>
            </span>
            <!-- 연락처, 자기소개, SNS 하드코딩 -->
            <div class="contact clearfix">
              <a href="/message/<%= targetIdx %>" title="Chat" class="social-icon si-light si-rounded si-chat-3">
                <i class="icon-chat-3"></i>
                <i class="icon-chat-3"></i>
              </a>
              <a title="Tel" class="social-icon si-light si-rounded si-call" href="#">
                <i class="icon-call"></i>
                <i class="icon-call"></i>
              </a>
              <a title="Mobile" class="social-icon si-light si-rounded si-mobile" href="#">
                <i class="icon-mobile"></i>
                <i class="icon-mobile"></i>
              </a>
              <a title="Email" class="social-icon si-light si-rounded si-email3" href="#">
                <i class="icon-email3"></i>
                <i class="icon-email3"></i>
              </a>
              <a title="FAX" class="social-icon si-light si-rounded si-print" href="#">
                <i class="icon-print"></i>
                <i class="icon-print"></i>
              </a>
            </div>
            <!-- <div class="panel panel-default">
              <div class="panel-body">
                <div class="author-content">
                  <%= comment %>
                </div>
                <div class="si-share noborder">
                  <a href="#" class="social-icon si-colored si-small si-website">
                    <i class="icon-website"></i>
                    <i class="icon-website"></i>
                  </a>
                  <a href="#" class="social-icon si-colored si-small si-facebook">
                    <i class="icon-facebook"></i>
                    <i class="icon-facebook"></i>
                  </a>
                  <a href="#" class="social-icon si-colored si-small si-instagram">
                    <i class="icon-instagram"></i>
                    <i class="icon-instagram"></i>
                  </a>
                  <a href="#" class="social-icon si-colored si-small si-blog">
                    <i class="icon-blog"></i>
                    <i class="icon-blog"></i>
                  </a>
                  <a href="#" class="social-icon si-colored si-small si-twitter">
                    <i class="icon-twitter"></i>
                    <i class="icon-twitter"></i>
                  </a>
                </div>
              </div>
            </div> -->
            <!-- // 연락처, 자기소개, SNS 하드코딩 -->
            <% if (comment || sns.website || sns.facebook || sns.instagram || sns.twitter) { %>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="author-content">
                  <%= comment %>
                </div>
                <div class="si-share noborder">
                  <% if (sns.website) { %>
                    <a href="<%= sns.website %>" target="_blank" class="social-icon si-colored si-delicious">
                      <i class="icon-home"></i>
                      <i class="icon-home"></i>
                    </a>
                  <% } %>

                  <% if (sns.facebook) { %>
                    <a href="<%= sns.facebook %>" target="_blank" class="social-icon si-colored si-facebook">
                      <i class="icon-facebook"></i>
                      <i class="icon-facebook"></i>
                    </a>
                  <% } %>

                  <% if (sns.instagram) { %>
                    <a href="<%= sns.instagram %>" target="_blank" class="social-icon si-colored si-instagram">
                      <i class="icon-instagram"></i>
                      <i class="icon-instagram"></i>
                    </a>
                  <% } %>

                  <% if (sns.twitter) { %>
                    <a href="<%= sns.twitter %>" target="_blank" class="social-icon si-colored si-twitter">
                      <i class="icon-twitter"></i>
                      <i class="icon-twitter"></i>
                    </a>
                  <% } %>
                  <!--kakaotalk-->
                  <!-- <span href="#"  data-lightbox="inline" class="social-icon si-colored" title="Kakaotalk">
                    <a id="kakao-link-btn" href="javascript:sendLink()">
                      <img src="//dev.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png" style="width: 40px;"/>
                    </a>
                  </span> -->

                  <!--band-->
                  <!-- <span href="#" data-lightbox="inline">
                    <script type="text/javascript">
                      new ShareBand.makeButton({"lang": "ko", "type": "d"});
                    </script>
                  </span> -->

                  <!--url share-->
                  <!-- <span href="#myModal2" data-lightbox="inline" class="social-icon si-colored si-delicious">
                    <i class="icon-delicious"></i>
                    <i class="icon-delicious"></i>
                  </span> -->
                </div>
              </div>
            </div>
            <% } %>
          </div>

          <div class="clear"></div>
            
          <div class="user">
            <ul class="nav nav-tabs boot-tabs">
              <li class="active"><a href="#tab-follower" data-toggle="tab">팔로워</a></li>
              <li><a href="#tab-following" data-toggle="tab">팔로잉</a></li>
              <li><a href="#tab-posts" data-toggle="tab">포스트</a></li>
              <li><a href="#tab-notice" data-toggle="tab">알림</a></li>
              <!-- <li><a href="#tab-replies">replies</a></li> -->
              <li><a href="#tab-likeposts" data-toggle="tab">좋아요</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade in active" id="tab-follower"></div>
              <div class="tab-pane fade" id="tab-following"></div>
              <div class="tab-pane fade" id="tab-posts"></div>
              <div class="tab-pane fade" id="tab-notice"></div>
              <!-- <div class="tab-pane fade" id="tab-replies"></div> -->
              <div class="tab-pane fade" id="tab-likeposts"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <% include ../addon/footer.ejs %>
</div>

<div id="gotoTop" class="icon-angle-up"></div>

<!-- LOAD JAVASCRIPT -->
<% include ../static/js.ejs %>

<!-- Page -->
<script>
// Tab
function getAjax(link) {
  var memberIdx = window.location.href.split('/user/')[1];

  $.ajax({
    url: '/user/' + memberIdx + '/json/' + link,
    success: function(result) {
      $('#tab-' + link).html(new EJS({url: '/template/user/info-' + link + '.ejs'}).render({data: result, mediaUrl: "<%= mediaUrl %>"}));

      if (link === 'posts') {
        window.setTimeout(function() {
          (function() {
            var $container = $('#posts');
            $container.isotope();
            $container.infinitescroll({
              loading: {
                finishedMsg: '<i class="icon-line-check"></i>',
                msgText: '<i class="icon-line-loader icon-spin"></i>',
                img: "/lib/js-canvas/images/preloader-dark.gif",
                speed: 'normal'
              },
              state: {
                isDone: false
              },
              nextSelector: "#load-next-posts a",
              navSelector: "#load-next-posts",
              itemSelector: "article.portfolio-item",
              behavior: 'portfolioinfiniteitemsloader'
            },
            function( newElements ) {
              $container.isotope( 'appended', $( newElements ) );
              var t = setTimeout( function(){ $container.isotope('layout'); }, 1000 );
              SEMICOLON.widget.loadFlexSlider();
              SEMICOLON.portfolio.arrange();
            });
            SEMICOLON.widget.loadFlexSlider();
            SEMICOLON.portfolio.arrange();
          })();
        }, 1000);
      }

      if (link === 'likeposts') {
        window.setTimeout(function() {
          (function() {
            var $container = $('#likeposts');
            $container.isotope();
            $container.infinitescroll({
              loading: {
                finishedMsg: '<i class="icon-line-check"></i>',
                msgText: '<i class="icon-line-loader icon-spin"></i>',
                img: "/lib/js-canvas/images/preloader-dark.gif",
                speed: 'normal'
              },
              state: {
                isDone: false
              },
              nextSelector: "#load-next-likeposts a",
              navSelector: "#load-next-likeposts",
              itemSelector: "article.portfolio-item",
              behavior: 'portfolioinfiniteitemsloader'
            },
            function( newElements ) {
              $container.isotope( 'appended', $( newElements ) );
              var t = setTimeout( function(){ $container.isotope('layout'); }, 1000 );
              SEMICOLON.widget.loadFlexSlider();
              SEMICOLON.portfolio.arrange();
            });
            SEMICOLON.widget.loadFlexSlider();
            SEMICOLON.portfolio.arrange();
          })();
        }, 1000);
      }
    }
  });
}

$('.user .nav a[data-toggle="tab"]').click(function(e) {
  $('.flexslider').resize(); // 리스트 갱신 버그 처리

  getAjax( $(this).attr('href').split('#tab-')[1] );
}).eq(0).trigger('click');
</script>
<!--// Page -->

</body>
</html>