<h6>
  <button id="deletePost">삭제</button>
  <button id="modifyPost">수정</button>
  <button id="updatePost">재등록</button>
    
  <script>
  jQuery(function($) {
    $('#deletePost').click(function() {
      $.ajax({
        type: 'DELETE',
        url: '/post/delete/<%= data.postId %>',
        success: function(data) {
          if (data == "OK") {
            alert("삭제되었습니다.");
            location.reload();
          }
        },
        error: function(error) {
          alert(error.responseJSON.errorMsg);
        }
      });
    });
    
    $('#modifyPost').click(function() {
      location.href = '/post/modify/<%= data.postId %>';
    });
    
    $('#updatePost').click(function() {
      $.ajax({
        type: 'PUT',
        url: '/post/re-enroll/<%= data.postId %>',
        success: function(data) {
          if (data == "OK") {
            alert("재등록 하였습니다.");
            location.reload();
          } else if (data == "other") {
            alert("다른 회원의 게시글 입니다.");
          }

          else {
            alert(data);
          }
        },
        error: function(error) {
          alert(error);
        }
      });
    });
  });
  </script>

  <div class="mfp_count">
    <p class="nobottommargin">

      <!--like-->
      <div class="count">
        <h4><a href=""><i class="icon-line-heart"> <%= data.likeUserCount %> </i></a></h4>
      </div>

      <!--comments-->
      <div class="count">
        <h4><a href="#"><i class="icon-chat"> <%= data.commentCount %> </i> </a> </h4>
      </div>

      <!-- facebook-->
      <div class="sns_count">
        <div data-layout="button_count" data-href="http://localhost:3000/">
          <div class="sns_facebook">
            <span href="#" class="social-icon si-colored si-facebook" title="Facebook">
                  <a class="fb-xfbml-parse-ignore" target="_blank"
                     href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">
                     <i class="icon-facebook"></i>
                     <i class="icon-facebook"></i>
                  </a>
               </span>
          </div>
        </div>

        <div class="input_group">
          <div class="center">
            <span href="#myModal2" data-lightbox="inline" class="social-icon si-colored si-delicious">
              <i class="icon-delicious"></i>
              <i class="icon-delicious"></i>
            </span>
          </div>
        </div>


        <div class="center">
          <span href="#" class="social-icon si-colored" title="Aim">
            <a id="kakao-link-btn" href="javascript:sendLink()">
              <img src="//dev.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"/>
            </a>
          </span>
        </div>

        <div class="center">
          <div class="band_div">
            <span href="#" data-lightbox="inline" id="band">

                 <script type="text/javascript">
                  var ban = new ShareBand.makeButton({ "lang": "ko", "type": "d" }, null, null, 'band');
                </script>
              </span>
          </div>
        </div>
      </div>
      <br><br>


    </p>
  </div>
</h6>

<!--댓글 작성 시작-->
<div class="col_full">
  <div class="col_four_fifth col_last" style="margin-bottom: 20px;">
    <input type="text" name="comment" id="comment" size="22" tabindex="3" class="sm-form-control">
    
  </div>
  <span><button style="float: right;" name="submit" type="submit" id="submit-button" tabindex="5" value="Submit" class="button button-3d nomargin">Submit</button>
</span>
</div>

<script>
jQuery(function($) {
  $('#submit-button').click(function() {
    $.ajax({
      type: 'POST',
      url: '/post/comment/new/<%= data.postId %>',
      data: {
        comment: $('#comment').val()
      },
      success: function(data) {
        let comments = {
          content: data.comment,
          user: data.user,
          createdAt : data.createdAt
        }

        let appendData = new EJS({ url: '/template/mfp/mfp-comment.ejs' }).render({comment: comments, mediaUrl: data.mediaUrl});
        $('#commentBox').prepend(appendData);
        $('#comment').val('');
      },
      error: function(error) {
        alert(error);
      }
    });
  });
});
</script>

<div class="clear"></div>
<!--댓글 작성 끝-->

<!-- 댓글 표시 시작-->
<ul id="commentBox">
  <% for (var i = 0; i < data.comments.length; i++) { %>
    <%= new EJS({ url: '/template/mfp/mfp-comment.ejs' }).render({comment: data.comments[i], mediaUrl: data.mediaUrl}) %>
  <% } %>
</ul>
<!-- 댓글 표시 끝-->
</div>




</div>


<!--인피니티-->
<!-- <script type="text/javascript">
  jQuery(window).load(function () {

    var $container = $('#portfolio');

    $container.isotope({ transitionDuration: '0.65s' });

    $('#portfolio-filter a').click(function () {
      $('#portfolio-filter li').removeClass('activeFilter');
      $(this).parent('li').addClass('activeFilter');
      var selector = $(this).attr('data-filter');
      $container.isotope({ filter: selector });
      return false;
    });

    $('#portfolio-shuffle').click(function () {
      $container.isotope('updateSortData').isotope({
        sortBy: 'random'
      });
    });

    $(window).resize(function () {
      $container.isotope('layout');
    });

    $container.infinitescroll({
      loading: {
        finishedMsg: '<i class="icon-line-check"></i>',
        msgText: '<i class="icon-line-loader icon-spin"></i>',
        img: "images/preloader-dark.gif",
        speed: 'normal'
      },
      state: {
        isDone: false
      },
      nextSelector: "#load-next-posts a",
      navSelector: "#load-next-posts",
      itemSelector: "article.portfolio-item"
    },
      function (newElements) {
        $container.isotope('appended', $(newElements));
        var t = setTimeout(function () {
          $container.isotope('layout');
        }, 2000);
        SEMICOLON.widget.loadFlexSlider();
        SEMICOLON.portfolio.arrange();
      });

  });

</script> -->
