<!DOCTYPE html>
<html lang="ko">


<head>
   <% include ../static/head.ejs %>

   <style>
      .heading-icon h4{
         display: inline;
         margin-right: 3pc;
      }

      /*.team-image img{*/
      /*width: 360px;*/
      /*height: 230px;*/
      /*}*/

   </style>


   <script type="text/javascript" src="//developers.band.us/js/share/band-button.js?v=28052017"></script>




</head>


<body class="stretched side-push-panel">


<div id="wrapper" class="clearfix">


   <!-- HEADER -->
   <% include ../addon/header2.ejs %>

   <!-- Content
		============================================= -->
   <section id="content">

      <div class="content-wrap">

         <div class="container clearfix">

            <div class="row clearfix">

               <div class="col-sm-9">

                  <img src="<%= profile_image_path %>" class="alignleft img-circle img-thumbnail notopmargin nobottommargin" alt="Avatar" style="max-width: 84px;">

                  <div class="heading-block noborder">
                     <h3><%= nickname %> <span>member_type: <%= member_type %></span></h3>
                     <!--<span>Your Profile Bio</span>-->
                     <div class="heading-icon">
                        <h4><i class="icon-line-heart"> <%= userLikeCount %> </i></h4>
                        <h4><i class=icon-star> 등급 </i></h4>
                     </div>



                  </div>

                  <div class="clear"></div>




                  <div class="row clearfix">

                     <div class="col-md-12">

                        <div class="tabs tabs-alt clearfix" id="tabs-profile">

                           <ul class="tab-nav clearfix">
                              <li><a href="#tab-follower">Follower</a></li>
                              <li><a href="#tab-following">Following</a></li>
                              <li><a href="#tab-posts">posts</a></li>
                              <li><a href="#tab-replies">replies</a></li>
                              <li><a href="#tab-likeposts">likeposts</a></li>
                           </ul>

                           <div class="tab-container">

                              <div class="tab-content clearfix" id="tab-follower"></div>
                              <div class="tab-content clearfix" id="tab-following"></div>
                              <div class="tab-content clearfix" id="tab-posts"></div>
                              <div class="tab-content clearfix" id="tab-replies"></div>
                              <div class="tab-content clearfix" id="tab-likeposts"></div>


                           </div>

                        </div>

                     </div>

                  </div>

               </div>

               <div class="line visible-xs-block"></div>

               <div class="col-sm-3 clearfix">

                  <% include ./right-side.ejs %>

               </div>

            </div>

         </div>

      </div>

   </section><!-- #content end -->

</div>  <!-- wrapper.clearfix -->

<footer>
   <!-- FOOTER -->
   <% include ../addon/footer.ejs %>
</footer>


<!-- LOAD JAVASCRIPT -->
<% include ../static/js.ejs %>
<div id="gotoTop" class="icon-angle-up"></div>

<script>
   jQuery(function($) {
      function getAjax(link) {
         var memberIdx = window.location.href.split('#')[0].split('/');
         memberIdx = memberIdx[memberIdx.length - 1];

         $.ajax({
            url: 'http://localhost:3000/user/' + memberIdx + '/json/' + link,
            success: function(result) {
               $('#tab-' + link).html(new EJS({url: '/template/user/info-' + link + '.ejs'}).render({data: result, mediaUrl: "<%= mediaUrl %>"}));
               SEMICOLON.widget.loadFlexSlider();
               SEMICOLON.portfolio.arrange();
            }
         });
      }

      $('.tab-nav li a').click(function() {
         let link = $(this).attr('href').split('-')[1];
         getAjax(link);
      });

      getAjax('follower');
   });
</script>

</body>
</html>
