<!DOCTYPE html>
<html>
<head>
   <!-- Range Slider CSS -->
   <link rel="stylesheet" href="/lib/js-canvas/css/components/ion.rangeslider.css" type="text/css"/>

   <% include ../static/head.ejs %>

   <style>
      /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
      #map {
         position: fixed !important;
         width: 50%;
         right: 0;
         /*height: calc(100% - 280px);*/
         /*height: 900px;*/
      }

      /* Optional: Makes the sample page fill the window. */
      html, body {
         height: 100%;
         margin: 0;
         padding: 0;
         overflow: hidden;
      }

      .left_top {
         width: 50%;
         float: left;
         height: calc(100% - 124px);
      }

      #left_area {
         position: relative;
         width: 100%;
         overflow: auto;
         overflow-x: hidden;
         height: 100%;
         text-align: center;
      }

      #post {
         width: 90%;
         margin: auto;
         /*padding-top: 7px;*/
      }

      .product {
         /*margin-top:1em;*/
         width: 50%;
         float: left;
      }

      .product_area {
         margin-top: block;
         background-position: center center;
         height: 200px;
      }

      .product_area h2 {
         margin-bottom: 0px;
      }

      .product_area h3 {
         margin-bottom: 0px;
      }

      .product_area img {
         position: relative;
         background-position: center center;
         background-size: cover;
         width: 90%;
         height: 200px;
      }

      .search_box {
         height: 44px;
         width: 300px;
         border: 1px solid #1b5ac2;
         background: #ffffff;
      }

      .search_box input {
         outline: none;
         border: 0px;
      }

      .search_button {
         width: 35px;
         height: 44px;
         border: 0px;
         background: #1b5ac2;
         outline: none;
         color: #ffffff;
      }

      label {
         color: #fff;
      }
   </style>

</head>
<body class="stretched">

<div style="height: 80px;">
   <% include ../addon/header2.ejs %>
</div>
<!--<div class="tabs advanced-real-estate-tabs clearfix">-->

<div id="page-menu">

   <div id="page-menu-wrap">

      <div class="container clearfix" id="room">

         <nav class="divcenter center">
            <ul>
               <li id="type" class="divcenter"><a href="#">
                     <div>종류</div>
                  </a>
                  <ul>
                     <% for (i in value.placeType) { %>
                     <li><a href="#">
                           <label for="check_<%= i %>"><%= __("placeType")[i] %></label><input type="checkbox"
                                                                                               value="<%= i %>"
                                                                                               id="check_<%= i %>">
                        </a></li>
                     <% } %>
                  </ul>
               </li>

               <li id="deposit" class="divcenter"><a href="#">
                     <div>보증금</div>
                  </a>
                  <ul style="width:192px; background-color: white">
                     <input class="button button-3d button-small button-rounded button-lime button-light min"
                            type="number" min="0" placeholder="" style="width: 40%;">
                     <span>~</span>
                     <input class="button button-3d button-small button-rounded button-lime button-light max"
                            type="number" min="0" placeholder="" style="width: 41%;">
                     <input class="range_20"/>
                  </ul>
               </li>

               <li id="rent_fee" class="divcenter"><a href="#">
                     <div>월세</div>
                  </a>
                  <ul style="width:192px; background-color: white">
                     <input class="button button-3d button-small button-rounded button-lime button-light min"
                            type="number" min="0" placeholder="" style="width: 40%;">
                     <span>~</span>
                     <input class="button button-3d button-small button-rounded button-lime button-light max"
                            type="number" min="0" placeholder="" style="width: 41%;">
                     <input class="range_20"/>
                  </ul>
               </li>

               <li class="divcenter"><a href="#">
                     <div>추가옵션</div>
                  </a>
                  <ul>
                     <% for (i in value.placeType) { %>
                     <li><a href="#">
                           <label for="option_<%= i %>"><%= __("placeType")[i] %></label><input type="checkbox"
                                                                                               value="<%= i %>"
                                                                                               id="option_<%= i %>">
                        </a></li>
                     <% } %>
                  </ul>
               </li>
            </ul>
         </nav>

         <div id="page-submenu-trigger"><i class="icon-reorder"></i></div>

      </div>

   </div>

</div><!-- #page-menu end -->


<div class="left_top">
   <div id="left_area" class=".col-md-6">
      <div id="post">
      </div>
      <ul id="pagination" class="pagination-sm"></ul>
   </div>

</div>

<!-- External JavaScripts
	============================================= -->
<script type="text/javascript" src="/lib/js-canvas/js/jquery.js"></script>
<script type="text/javascript" src="/lib/js-canvas/js/plugins.js"></script>


<!--Range slider-->
<script type="text/javascript" src="/lib/js-canvas/js/components/rangeslider.min.js"></script>
<script type="text/javascript" src="/lib/js-canvas/js/components/moment.js"></script>

<!-- 인피니티 스크롤-->
<script type="text/javascript">

   jQuery(window).load(function () {

      var $container = $('#portfolio');

      $container.isotope({transitionDuration: '0.65s'});

      $('#portfolio-filter a').click(function () {
         $('#portfolio-filter li').removeClass('activeFilter');
         $(this).parent('li').addClass('activeFilter');
         var selector = $(this).attr('data-filter');
         $container.isotope({filter: selector});
         return false;
      });

      $('#portfolio-shuffle').click(function () {
         $container.isotope('updateSortData').isotope({
            sortBy: 'random'
         });
      });

      $(window).resize(function () {
         $container.isotope('layout');
      });

      $container.infinitescroll({
            loading: {
               finishedMsg: '<i class="icon-line-check"></i>',
               msgText: '<i class="icon-line-loader icon-spin"></i>',
               img: "images/preloader-dark.gif",
               speed: 'normal'
            },
            state: {
               isDone: false
            },
            nextSelector: "#load-next-posts a",
            navSelector: "#load-next-posts",
            itemSelector: "article.portfolio-item"
         },
         function (newElements) {
            $container.isotope('appended', $(newElements));
            var t = setTimeout(function () {
               $container.isotope('layout');
            }, 2000);
            SEMICOLON.widget.loadFlexSlider();
            SEMICOLON.portfolio.arrange();
         });

   });

</script>

<script>
   $(document).ready(function () {
      $(".range_20").ionRangeSlider({
         type: "double",
         min: 1000,
         max: 2000,
         from: 1200,
         to: 1800,
         hide_min_max: true,
         hide_from_to: true,
         grid: false
      });
   });
</script>


<!-- LOAD JAVASCRIPT -->
<% include ../static/js.ejs %>

<div class=".col-md-6">
   <div id="map" style="height:calc(100% - 124px);"></div>
</div>


<!-- map -->
<script type="text/javascript" src="/js/map.js"></script>

<!-- Room List Script -->
<script type="text/javascript" src="/js/room-list.js"></script>
<script type="text/javascript">
   function initMap() {
      var lat, lng;
      var is_safari = navigator.vendor &&
         navigator.vendor.indexOf('Apple') > -1 &&
         navigator.userAgent && !navigator.userAgent.match('CriOS');

      if (!is_safari && navigator.geolocation) {
         navigator.geolocation.getCurrentPosition(function (position) {
            lat = position.coords.latitude;
            lng = position.coords.longitude;
            roomList.drawRoom(lat, lng);
         });
      } else {
         lat = <%= lat %>;
         lng = <%= lng %>;
         roomList.drawRoom(lat, lng);
      }
   }

</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzgaoy93ozZFYqlmTvo8LNbO6i9WYqrlM&callback=initMap">
</script>
</body>
</html>
