<% for (var i = 0; i < room.length; i++) { %>
  <article class="portfolio-item <%= room[i].post_type %>" data-id="<%= room[i].ID %>">
    <div class="portfolio-image">
        <div class="fslider" data-arrows="false">
          <div class="flexslider">
              <div class="slider-wrap">
                <div class="slide"><a href="portfolio-single-gallery.html"><img src="/images/SH.png" alt="Shake It"></a></div>
                <div class="slide"><a href="portfolio-single-gallery.html"><img src="/images/SH.png" alt="Shake It"></a></div>
                <div class="slide"><a href="portfolio-single-gallery.html"><img src="/images/SH.png" alt="Shake It"></a></div>
                <div class="slide"><a href="portfolio-single-gallery.html"><img src="/images/SH.png" alt="Shake It"></a></div>
              </div>
          </div>
        </div>
        <div class="portfolio-overlay" data-lightbox="gallery">
          <a href="/lib/js-canvas/images/portfolio/full/1.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
          <a href="/lib/js-canvas/images/portfolio/full/1.jpg" class="hidden" data-lightbox="gallery-item"></a>
          <a href="/lib/js-canvas/images/portfolio/full/1.jpg" class="hidden" data-lightbox="gallery-item"></a>
          <a href="/lib/js-canvas/images/portfolio/full/1.jpg" class="hidden" data-lightbox="gallery-item"></a>
          <!-- <a href="/lib/js-canvas/images/portfolio/full/1.jpg" class="right-icon"><i class="icon-line-ellipsis"></i></a> -->
        </div>
    </div>
    <div class="testimonial">
        <div class="testi-image">
          <a href="#"><img src="/users/profile1_20170125150101.jpg" alt="Customer Testimonails"></a>
        </div>
        <div class="testi-meat"><p style=" margin-bottom:0px;"><%= room[i].user.nickname %></p></div>
        <div class="clear"></div>
        <div class="portfolio-desc">
          <h3><a href="/post/room/<%= room[i].ID %>"><%= room[i].title %></a></h3>
        </div>
        <ul class="entry-meta clearfix">
          <li><i class="icon-line-heart"></i><span><%= room[i].LikeUsers.length %></span></li>
          <li><i class="icon-calendar3"></i><%= new Date(room[i].createdAt).toLocaleDateString("ko-KR", {year: 'numeric', month: '2-digit', day: '2-digit'}) %></li>
          <li><i class="icon-comments"></i><%= room[i].Comments.length %></li>
        </ul>
    </div>
  </article>
<% } %>