<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title><%= __("title")["roomInfoListView"] + __("app")["name"]%></title>
  <style>
    /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
    #map {
      position: fixed !important;
      width:50%;
      right:0;
      top:280px;
      height: calc(100% - 280px);
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
  <% include ../static/head.ejs %>
</head>

<% include ../addon/room-list-header.ejs %>

<div class="tabs advanced-real-estate-tabs clearfix" id="room">

  <div class="container clearfix">
      <ul class="tab-nav clearfix">
        <li><a href="#tab-properties" data-scrollto="#tab-properties" data-offset="133">Search Properties</a></li>
      </ul>
  </div>

  <div class="tab-container">
      <div class="container clearfix">
        <div class="tab-content clearfix" id="tab-properties">
            <form action="#" method="post" class="nobottommargin">
              <div class="row">

                  <div id="data-list" style="display:none;">
                    <ul class="list"></ul>
                    <li id="data-item">
                      <h3 class="name"></h3>
                      <p class="city"></p>
                    </li>
                  </div>

                  <div class="col-md-3 col-sm-6 col-xs-12 bottommargin-sm">
                    <label for="">Search</label>
                    <!--<select class="selectpicker" data-live-search="true" id="address">-->
                    <!--</select>-->
                    <input class="typeahead" type="text" placeholder="주소">
                  </div>

                  <div class="col-md-1 col-sm-6 col-xs-12 bottommargin-sm">
                    <label for="">방종류</label>
                    <select class="selectpicker form-control" title="모든 방보기" multiple data-size="6" style="width:100%; line-height: 30px;" id="type">
                        <% for (i in value.placeType) { %>
                        <option value="<%= i %>"><%= __("placeType")[i] %></option>
                        <% } %>
                    </select>
                  </div>

                  <div class="col-md-3 col-sm-6 col-xs-12 bottommargin-sm" id="deposit">
                    <label for="">보증금</label>
                    <input type="number" placeholder="최소" class="min">
                    ~
                    <input type="number" placeholder="최대" class="max">
                  </div>
                  
                  <div class="col-md-3 col-sm-6 col-xs-12 bottommargin-sm" id="rent_fee">
                    <label for="">월세</label>
                    <input type="number" placeholder="최소" class="min">
                    ~
                    <input type="number" placeholder="최대" class="max">
                  </div>

                  <div class="col-md-3 col-sm-6 col-xs-12 bottommargin-sm">
                    <label for="">추가옵션</label>
                    <select class="selectpicker" multiple data-size="6" style="width:100%; line-height: 30px;">
                        <!--<option value="Any">Any</option>-->
                        <optgroup label="보증금">
                          <option value="">세탁기</option>
                          <option value="">에어컨</option>
                          <option value="">냉장고</option>

                          <!--<option value="Villa">Villa</option>-->
                          <!--<option value="Building">Building</option>-->
                        </optgroup>
                        <!--<optgroup label="Commercial">-->
                        <!--<option value="Shop">Shop</option>-->
                        <!--<option value="Office">Office</option>-->
                        <!--<option value="Warehouse">Warehouse</option>-->
                        <!--</optgroup>-->
                    </select>
                  </div>

                  <div class="col-md-2 col-sm-6 col-xs-12 bottommargin-sm">
                    <label for="">선택</label><br>
                    <input class="bt-switch" type="checkbox" checked data-on-text="지도" data-off-text="리스트" data-on-color="white" data-off-color="black">
                  </div>


                  <!--<div class="col-md-2 col-sm-12 bottommargin-sm">-->
                  <!--<label for="" style="display:block;">지도</label>-->
                  <!--<input class="bt-switch" type="checkbox" checked data-on-text="Buy" data-off-text="Rent" data-on-color="themecolor" data-off-color="themecolor">-->
                  <!--</div>-->
                  <!--<div class="col-md-2 col-sm-12 bottommargin-sm">-->
                  <!--<label for="" style="display:block;">리스트</label>-->
                  <!--<input class="bt-switch" type="checkbox" checked data-on-text="Buy" data-off-text="Rent" data-on-color="themecolor" data-off-color="themecolor">-->
                  <!--</div>-->
                  <!--<div class="col-md-2 col-sm-6 col-xs-6 bottommargin-sm">-->
                  <!--<label for="">방종류</label>-->
                  <!--<select class="selectpicker form-control" multiple data-size="6" data-placeholder="Any" style="width:100%; line-height: 30px;">-->
                  <!--<option value="1">원룸</option>-->
                  <!--<option value="2">고시룸</option>-->
                  <!--<option value="3">룸</option>-->
                  <!--&lt;!&ndash;<option value="4">4</option>&ndash;&gt;-->
                  <!--&lt;!&ndash;<option value="5+">5+</option>&ndash;&gt;-->
                  <!--</select>-->
                  <!--</div>-->
                  <!--<div class="col-md-2 col-sm-6 col-xs-6 bottommargin-sm">-->
                  <!--<label for="">Baths</label>-->
                  <!--<select class="selectpicker form-control" multiple data-size="6" data-placeholder="Any" style="width:100%; line-height: 30px;">-->
                  <!--<option value="1">1</option>-->
                  <!--<option value="2">2</option>-->
                  <!--<option value="3">3</option>-->
                  <!--<option value="4">4</option>-->
                  <!--<option value="5+">5+</option>-->
                  <!--</select>-->
                  <!--</div>-->


                  <!--<div class="sidebar nobottommargin">-->
                  <!--<div class="sidebar-widgets-wrap">-->

                  <!--<div class="widget widget-filter-links clearfix">-->

                  <!--<h4>Select Category</h4>-->
                  <!--<ul class="custom-filter" data-container="#shop" data-active-class="active-filter">-->
                  <!--<li class="widget-filter-reset active-filter"><a href="#" data-filter="*">Clear</a></li>-->
                  <!--<li><a href="#" data-filter=".sf-dress">Dress</a></li>-->
                  <!--<li><a href="#" data-filter=".sf-tshirt">Tshirts</a></li>-->
                  <!--<li><a href="#" data-filter=".sf-pant">Pants</a></li>-->
                  <!--<li><a href="#" data-filter=".sf-sunglass">Sunglasses</a></li>-->
                  <!--<li><a href="#" data-filter=".sf-shoes">Shoes</a></li>-->
                  <!--<li><a href="#" data-filter=".sf-watch">Watches</a></li>-->
                  <!--</ul>-->

                  <!--</div>-->

                  <!--<div class="widget widget-filter-links clearfix">-->

                  <!--<h4>Sort By</h4>-->
                  <!--<ul class="shop-sorting">-->
                  <!--<li class="widget-filter-reset active-filter"><a href="#" data-sort-by="original-order">Clear</a></li>-->
                  <!--<li><a href="#" data-sort-by="name">Name</a></li>-->
                  <!--<li><a href="#" data-sort-by="price_lh">Price: Low to High</a></li>-->
                  <!--<li><a href="#" data-sort-by="price_hl">Price: High to Low</a></li>-->
                  <!--</ul>-->

                  <!--</div>-->

                  <!--</div>-->
                  <!--</div>&lt;!&ndash; .sidebar end &ndash;&gt;-->


                  <div class="clear"></div>
                  <!--<div class="col-md-4 col-sm-6 col-xs-12">-->
                  <!--<label for="" style="margin-bottom: 20px !important;">Price Range</label>-->
                  <!--<input class="price-range-slider" />-->
                  <!--</div>-->
                  <!--<div class="clear visible-xs bottommargin-sm"></div>-->
                  <!--<div class="col-md-4 col-md-offset-1 col-sm-6 col-xs-12">-->
                  <!--<label for="" style="margin-bottom: 20px !important;">Property Area</label>-->
                  <!--<input class="area-range-slider" />-->
                  <!--</div>-->
                  <!--<div class="col-md-offset-1 col-md-2 col-sm-12 clearfix">-->
                  <!--<button class="button button-dark button-large button-rounded" style="margin-top: 35px !important;">Search</button>-->
                  <!--</div>-->



              </div>
            </form>
        </div>
      </div>
  </div>
</div>

<body class="stretched">
<div id="wrapper" class="clearfix">
   <div class="container clearfix">
      <div class="col_half">
         <div>
            <div class="post-grid grid-container clearfix" data-layout="fitRows" id="posts">
            </div>
         </div>
         <ul id="pagination" class="pagination-sm"></ul>
      </div>
   </div>
</div>

<!-- LOAD JAVASCRIPT -->
<% include ../static/js.ejs %>

  <div id="map"></div>
  <script type="text/javascript">

    function initMap() {
      var lat, lng;
      var is_safari = navigator.vendor &&
                      navigator.vendor.indexOf('Apple') > -1 &&
                      navigator.userAgent &&
                      !navigator.userAgent.match('CriOS');

      if (!is_safari && navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position){
          lat = position.coords.latitude;
          lng = position.coords.longitude;
          roomList.drawRoom(lat, lng);
        });
      } else {
        lat = <%= lat %>;
        lng = <%= lng %>;
        roomList.drawRoom(lat, lng);
      }

      filter.reload();
    }

  </script>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzgaoy93ozZFYqlmTvo8LNbO6i9WYqrlM&callback=initMap">
  </script>
</body>
</html>
