<!DOCTYPE html>
<!-- pagination -->
<script type="text/javascript" src="path_to/jquery.js"></script>
<script type="text/javascript" src="path_to/jquery.simplePagination.js"></script>
<link type="text/css" rel="stylesheet" href="path_to/simplePagination.css"/>

<% //include ../static/css.html%>


<%include ../addon/header2.ejs%>

<!-- Document Wrapper
============================================= -->
<div class="clearfix">


   <!-- Content      New
		============================================= -->
   <% //include ../models/users.js%>

<html lang="ko">
<head>
   <% include ../../../views/static/head.ejs %>
</head>

<body class="stretched">
  <!-- HEADER -->
  <% include ../../../views/addon/header.ejs %>

  <!-- Content
	============================================= -->

   <section id="content">

      <div class="content-wrap">

         <div class="container clearfix">
            <div class="post-grid grid-container clearfix" data-layout="fitRows" id="posts">
                <% for (var i = 0; i < users.length; i++) { %>
                    <div class="entry clearfix">
                        <div class="portfolio-image">
                            <a href="#"><img alt="Open Imagination" src="<%= users[i].image %>"></a>
                        </div>
                        <div class="entry-title">
                            <h2><a href="#"><%= users[i].name %></a></h2>
                        </div>
                        <div class="entry-content">
                            <p><%= users[i].intro %></p>
                            <a class="more-link" href="/bizdetail/<%= users[i].id %>">Read More</a>
                        </div>
                    </div>
                <% } %>
            </div>

            <!-- Posts
                 ============================================= -->
            <div id="posts" class="post-grid grid-container grid-3 clearfix" data-layout="fitRows">

               <div class="entry clearfix">
                  <div class="entry-image">
                     <a href="images/blog/full/17.jpg" data-lightbox="image">
                        <img class="image_fade" src="" alt="< %=image%>"></a>
                  </div>
                  <div class="entry-title">
                     <h2><a href="blog-single.html">< %=name%></a></h2>
                  </div>

                  <!--<ul class="entry-meta clearfix">-->
                     <!--<li><i class="icon-calendar3"></i> 10th Feb 2014</li>-->
                     <!--<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>-->
                     <!--<li><a href="#"><i class="icon-camera-retro"></i></a></li>-->
                  <!--</ul>-->

                  <div class="entry-content">
                     <p> < %=intro_test%> </p>
                     <a href="blog-single.html"class="more-link">Read More</a>
                  </div>
               </div>


               <div class="entry clearfix">
                  <div class="entry-image">
                     <a href="images/blog/full/17.jpg" data-lightbox="image">
                        <img class="image_fade" src="< %=preview%>" alt="< %=preview%>"></a>
                  </div>
                  <div class="entry-title">
                     <h2><a href="blog-single.html">< %=display%></a></h2>
                  </div>

                  <!--<ul class="entry-meta clearfix">-->
                  <!--<li><i class="icon-calendar3"></i> 10th Feb 2014</li>-->
                  <!--<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>-->
                  <!--<li><a href="#"><i class="icon-camera-retro"></i></a></li>-->
                  <!--</ul>-->

                  <div class="entry-content">
                     <p> < %=intro_test%> </p>
                     <a href="blog-single.html"class="more-link">Read More</a>
                  </div>
               </div>



               <div class="entry clearfix">
                  <div class="entry-image">
                     <a href="images/blog/full/17.jpg" data-lightbox="image">
                        <img class="image_fade" src="< %=preview%>" alt="< %=preview%>"></a>

                  </div>
                  <div class="entry-title">
                     <h2><a href="blog-single.html">< %=display%></a></h2>
                  </div>

                  <!--<ul class="entry-meta clearfix">-->
                  <!--<li><i class="icon-calendar3"></i> 10th Feb 2014</li>-->
                  <!--<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>-->
                  <!--<li><a href="#"><i class="icon-camera-retro"></i></a></li>-->
                  <!--</ul>-->

                  <div class="entry-content">
                     <p> < %=intro_test%> </p>
                     <a href="blog-single.html"class="more-link">Read More</a>
                  </div>
               </div>


            </div><!-- #posts end -->

            <!-- Pagination
                 ============================================= -->
            <!-- 지금 유저가 5명 밖에 음슴. 12페이지까지 거는 조건문 추가-->
            <ul class="pagination">
               <li><a href="#">&laquo;</a></li>
               <% for (var i = 0; i < users.length; i++) { %>
               <li><a href="#"><%=[i+1]%></a></li>
               <% } %>
               <li><a href="#">&raquo;</a></li>
            </ul>



            <!--<ul class="pager nomargin">-->
               <!--<li class="previous"><a href="#">&larr; Older</a></li>-->
               <!--<li class="next"><a href="#">Newer &rarr;</a></li>-->
            <!--</ul>&lt;!&ndash; .pager end &ndash;&gt;-->

         </div>

      </div>

   </section><!-- #content end -->



    <!--&lt;!&ndash; Content before-->
    <!--============================================= &ndash;&gt;-->
    <!--<section id="content">-->

        <!--<div class="content-wrap">-->

            <!--<div class="container clearfix">-->

                <!--&lt;!&ndash; Posts-->
                <!--============================================= &ndash;&gt;-->
                <!--&lt;!&ndash;post-grid grid-container clearfix data-layout="fitRows"&ndash;&gt;-->
                <!--<div id="posts" class="post-grid grid-container clearfix" data-layout="fitRows">-->
                  <!--<% //for(var i=0; i<returnedDatas.length; i++) { %>-->
                    <!--<div class="entry clearfix">-->
                        <!--<div class="portfolio-image">-->
                            <!--<a routerLink="/bizListDetail/<% //= returnedDatas[i].memberIdx %>"><img src="{{serverHost}}/<% //= returnedDatas[i].companyLogo %>" alt="Open Imagination"></a>-->
                        <!--</div>-->
                        <!--<div class="entry-title">-->
                            <!--<h2><a routerLink="/bizListDetail/<% //= returnedDatas[i].memberIdx %>">{{bizUserInfo.companyName}}</a></h2>-->
                        <!--</div>-->
                        <!--<div class="entry-content">-->
                            <!--<p><bizUserInfo.aboutCompanyShort}}</p>-->
                            <!--<a routerLink="/bizListDetail/<% //= returnedDatas[i].memberIdx %>" class="more-link">Read More</a>-->
                        <!--</div>-->
                    <!--</div>-->
                  <!--<% //} %>-->
                <!--</div>-->



               <!--&lt;!&ndash; 페이지네이션 &ndash;&gt;-->

               <!--&lt;!&ndash;<ul id="pagination-demo" class>="pagination-sm"></ul>&ndash;&gt;-->
               <!--&lt;!&ndash;<script>&ndash;&gt;-->
                  <!--&lt;!&ndash;$('#pagination-demo').twbsPagination({&ndash;&gt;-->
                     <!--&lt;!&ndash;totalPages: 35,&ndash;&gt;-->
                     <!--&lt;!&ndash;visiblePages: 7,&ndash;&gt;-->
                     <!--&lt;!&ndash;onPageClick: function (event, page) {&ndash;&gt;-->
                        <!--&lt;!&ndash;$('#page-content').text('Page ' + page);&ndash;&gt;-->
                     <!--&lt;!&ndash;}&ndash;&gt;-->
                  <!--&lt;!&ndash;});&ndash;&gt;-->
               <!--&lt;!&ndash;</script>&ndash;&gt;-->


                <!--&lt;!&ndash;페이지 1~10 까지 확인 가능 disable이나 현재 들어와 있는 페이지 active같은 기능을 추가해주어야함&ndash;&gt;-->
                <!--<div id="pagination">-->
                    <!--<ul class="pagination nobottommargin">-->
                        <!--<li (click)="beforePageButton()"><a>&laquo;</a></li>-->


                        <!--<li (click)="pageNumberButton(1)" [ngClass]="{'active': currentPageNumber == 1}"><a>1</a>-->
                        <!--</li>-->
                        <!--<li (click)="pageNumberButton(2)" [ngClass]="{'active': currentPageNumber == 2}"><a>2</a>-->
                        <!--</li>-->
                        <!--<li (click)="pageNumberButton(3)" [ngClass]="{'active': currentPageNumber == 3}"><a>3</a>-->
                        <!--</li>-->
                        <!--<li (click)="pageNumberButton(4)" [ngClass]="{'active': currentPageNumber == 4}"><a>4</a>-->
                        <!--</li>-->
                        <!--<li (click)="pageNumberButton(5)" [ngClass]="{'active': currentPageNumber == 5}"><a>5</a>-->
                        <!--</li>-->
                        <!--<li (click)="pageNumberButton(6)" [ngClass]="{'active': currentPageNumber == 6}"><a>6</a>-->
                        <!--</li>-->
                        <!--<li (click)="pageNumberButton(7)" [ngClass]="{'active': currentPageNumber == 7}"><a>7</a>-->
                        <!--</li>-->
                        <!--<li (click)="pageNumberButton(8)" [ngClass]="{'active': currentPageNumber == 8}"><a>8</a>-->
                        <!--</li>-->
                        <!--<li (click)="pageNumberButton(9)" [ngClass]="{'active': currentPageNumber == 9}"><a>9</a>-->
                        <!--</li>-->
                        <!--<li (click)="pageNumberButton(10)" [ngClass]="{'active': currentPageNumber == 10}"><a>10</a>-->
                        <!--</li>-->

                        <!--<li (click)="nextPageButton()"><a>&raquo;</a></li>-->
                    <!--</ul>-->
                <!--</div>-->

            <!--</div>-->

        <!--</div>-->

    <!--</section>&lt;!&ndash; #content end &ndash;&gt;-->
  <!--</div>&lt;!&ndash; #wrapper end &ndash;&gt;-->

  <!-- function pagination  http://flaviusmatis.github.io/simplePagination.js/  -->
  <script>

  $(function() {
    $(selector).pagination({
      items: 100,
      itemsOnPage: 10,
      cssStyle: 'light-theme',
      onlnit : function(){
        // 페이지네이션 시작
      },
      onPageClick : function(pagenumber, event){
        // 페이지 번호 클릭
      }
    });
  });

//   $(function() {
//       $(selector).pagination('selectPage', pageNumber);
//   });
//
//   $(function() {
//     $(selector).pagination('prevPage');
// });
//
// $(function() {
//     $(selector).pagination('nextPage');
// });
//
  </script>

  <!-- FOOTER -->
  <% include ../../../views/addon/footer.ejs %>

   <!-- LOAD JAVASCRIPT -->
   <% include ../../../views/static/js.ejs %>
</body>
</html>
